
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CPanel/Views/Shared/_LayoutAdmin.cshtml";
}
  <script src="~/Scripts/jquery-1.9.1.min.js"></script>
 <script type="text/javascript">
   $(document).ready(function () {

        var message = '@ViewBag.Message';
        if (message == '') {
            $("#message").css("display", "none")
        }

        else {
            $("#message").css("display : inline");
        }
    });
    function Submit () {
        $("#message").css("display : inline");
        return true;
    }

</script>

@{
    ViewBag.Title = "FileUpload";
}

<div class="p10">
    <div class="panel clearfix">

        <div class="panel-heading">
            <span class="panel-title">Upload Question</span>
        </div>


        @using (@Html.BeginForm("FileUpload", "QuestionBatchUpload", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
        {

            <div class="panel-body">
                <div class="form-group col-md-4">
                    <label>Question Type</label>
                    <select class="form-control" name="QType">
                        <option value="1">Common</option> 
                        <option value="2">Fill in the blanks</option>
                        <option value="3">MCQs</option>
                    </select>

                </div>

                <div class="clearfix"></div>
                <div class="form-group col-md-4">
                    <div id="message" class="form-group col-md-12" style="color:#ff0000;">
                        @Html.Raw(ViewBag.Message)
                    </div>
                    <label>Upload Document: <span class="field-validation-valid" data-valmsg-for="SearchText" data-valmsg-replace="true"></span></label><br>
                    <label method="post" class="form-control">
                        <input type="file" name="file_Uploader" size="40">
                    </label>
                </div>

                <div class="form-group col-md-4">

                    <input type="submit" id="bttn_Upload" value="Upload" onclick="Submit();" class="btn btn-primary" />

                </div>
                <div class="form-group col-md-2 text-right button_top_padding">
                    <a href="/CPaneCPanel/QuestionBatchUpload/DownloadFile" style="font-size:48px;"><i class="fa fa-download"></i></a>
                </div>

            </div>

        }

    </div>
</div>

