<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="ReadEdgeCoreContext" connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=ReadEdgeCore;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>-->
  <!--<connectionStrings>
    <add name="ReadEdgeCoreContext" connectionString="Data Source=(localdb)\\MSSQLLocalDB;User ID=readedge;Password=abc@123;Initial Catalog=ReadEdgeCore;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="ReadEdgeCoreContext" connectionString="Data Source=DESKTOP-B00UGO6\SQLEXPRESS;Initial Catalog=ReadEdgeCore;Trusted_Connection=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
    <add name="UserContext" connectionString="Data Source=DESKTOP-B00UGO6\SQLEXPRESS;Initial Catalog=Prachi;Trusted_Connection=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
    <!--<add name="ReadEdgeCoreContext" connectionString="Data Source=220.158.164.159;Initial Catalog=ReadEdgeCore31122019;User ID=Prachi_Portal;Password=Prachi_Portal@123;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="UserContext" connectionString="Data Source=220.158.164.159;Initial Catalog=Prachi;User ID=Prachi_Portal;Password=Prachi_Portal@123;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
  <!--<add name="ReadEdgeCoreContext" connectionString="Server=202.143.96.153,3306;Database=ReadEdgeCore;User ID=Prachi_Portal;Password=Prachi_Portal@123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
 
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 700MB (CD700) -->
        <requestLimits maxAllowedContentLength="937280000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>