@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="inner LoginMain">
        <div class="panel-body">
            <div class="col-md-12 form-group text-center" style="margin:15% 0;">
                <img src="/Images/logo.png" alt="Prachi India Pvt Ltd" title="Prachi India Pvt Ltd">
            </div>
            <div class="row">
                    <div class="panel-body">
                       
                            <h4>@ViewBag.Title</h4>
                       
                        <div class="panel-body text-center">
                            <p style="padding:40px;">
                                Please check your email to reset your password.
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />


}