@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutCatalouge.cshtml";
}





<div class="wrapper">
    <div class="inner LoginMain">
        <div class="panel-body">
            <div class="col-md-12 form-group text-center" style="margin:15% 0;">
                <img src="/Images/logo.png" alt="Prachi India Pvt Ltd" title="Prachi India Pvt Ltd">
            </div>

            <div class="container">
                <div class="row">
                    <div class="panel-body">
                        <div class="panel-heading text-center">
                            <h4 style="margin:10px 0px 10px 0;border-bottom: solid 1px #e9e9e9;padding-bottom: 20px;">@ViewBag.Title.</h4>
                        </div>
                        <div class="panel-body text-center">
                            <p style="padding:40px;">
                                Your password has been reset. <br />Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





@section Scripts {
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
}