
<table style='width:800px; margin:0 auto; border: solid 4px #164e71; background-color:#ffffff;' cellspacing='0' cellpadding='0'>
    <tr>
       <td colspan = '4' style ='text-align:center; background-color:#123754; color:#ffffff;'><h2 style ='color:#ffffff;'> Sampling Form </h2></td>
    </tr>
     <tr>
       <td colspan = '4' style = 'background-color:#c7fee1; color:#000000; padding:5px 10px;'><h3 style='margin:0px;'> School Details </h3></td>
     </tr>
    <tr>
        <td width ='20%' style='border: solid 1px #feefef; padding:10px;'><b> Name </b></td>
        <td width ='5%' style='border: solid 1px #feefef; padding:10px;'>:-</td>
        <td width ='75%' style='border: solid 1px #feefef; padding:10px;' colspan = '2'>DALIMS</td>
   </tr>
   <tr>
        <td style='border: solid 1px #feefef; padding:10px;'><b>Principal</b></td>
        <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
        <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'>PRINCIPAL</td>
   </tr>
   <tr>
        <td style='border: solid 1px #feefef; padding:10px;'><b> Email </b></td>
        <td style='border: solid 1px #feefef; padding:10px;'>:-</td> 
        <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'>errahulraj17@gmail.com </td>
    </tr>
    <tr>
          <td style='border: solid 1px #feefef; padding:10px;'><b> Phone </b></td>
          <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
          <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'> 955590005</td>
    </tr>
    <tr>
        <td style='border: solid 1px #feefef; padding:10px;'><b> Mobile </b></td>
        <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
        <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'> 9555390005</td>
    </tr>
    <tr>
        <td style='border: solid 1px #feefef; padding:10px;'><b> Address </b></td>
        <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
        <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'>NEW  DELHI</td>
    </tr>
    <tr>
        <td style='border: solid 1px #feefef; padding:10px;'><b> Book Incharge </b></td>
        <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
        <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'> RAHUL SRIVASTAVA</td>
    </tr>
    <tr> 
       <td style='border: solid 1px #feefef; padding:10px;'><b> City </b></td>
       <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
       <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'>	VARANASI </td>
     </tr>
    <tr>
        <td style='border: solid 1px #feefef; padding:10px;'><b> Satate </b></td>
        <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
        <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'> UTTAR PRADESH </td>
    </tr>
    <tr>
        <td style='border: solid 1px #feefef; padding:10px;'><b> Coutry </b></td>
        <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
        <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'>  INDIA</td>
    </tr>
     <tr>
         <td style='border: solid 1px #feefef; padding:10px;'><b>Board</b></td>
         <td style='border: solid 1px #feefef; padding:10px;'>:-</td>
         <td colspan = '2' style='border: solid 1px #feefef; padding:10px;'> CBSE</td>
     </tr>
    <tr>
        <td colspan ='4' style ='background-color:#c7fee1; color:#000000; padding:5px 10px;'><h3 style='margin:0px;'> Representative Details </h3></td>
    </tr>
        <tr>
    <td colspan='4'>
            <table width='100%' style='width:100%; padding:10px 20px;' cellspacing='0' cellpadding='0'>
             <tr>
                <td colspan='4' style='background-color:#e9edeb; color:#000000; padding:7px 10px;'><h3 style='margin:0px;'> Sales </h3></td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Name </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'>ABADHESH KUMAR AGNIHOTRI </td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Mobile </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'>9555390005 </td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Area </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'>AGRA</td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Email </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'>errahulraj17@gmail.com</td></tr><tr><td colspan='4' style='background-color:#e9edeb; color:#000000; padding:7px 10px;'><h3 style='margin:0px;'> Head Office </h3></td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Name </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'> DEEPA TYAGI </td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Mobile </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'>9555390005 </td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Area </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'>	EAST DELHI</td></tr><tr><td style='border: solid 1px #feefef; padding:10px;'><b> Email </b></td><td style='border: solid 1px #feefef; padding:10px;'>:-</td><td colspan='2' style='border: solid 1px #feefef; padding:10px;'>errahulraj17@gmail.com</td></tr></table></td></tr><tr><tr><td colspan='4' style='border: solid 1px #feefef;'><table style='width:100%; margin:0 auto;' cellspacing='0' cellpadding='0'><tr><td colspan='5' style ='background-color:#c7fee1; color:#000000; padding:5px 10px;'><h3 style='margin:0px;'>Subject Details</h3></td></tr><tr><td width='10%' style='border:solid 1px #feefef; padding:10px;'><b>S.No.</b></td><td width='30%' style='border:solid 1px #feefef; padding:10px;'><b>Subject</b></td><td width='30%' style='border:solid 1px #feefef; padding:10px;'><b>Series</b></td><td width='20%' style='border:solid 1px #feefef; padding:10px;'><b>Class</b></td><td width='10%' style='border:solid 1px #feefef; padding:10px;'><b>Quantity</b></td></tr><tr><td style='border:solid 1px #feefef; padding:10px;'>1</td><td style='border:solid 1px #feefef; padding:10px;'>Art and Craft</td><td style='border:solid 1px #feefef; padding:10px;'>Visual Arts</td><td style='border:solid 1px #feefef; padding:10px;'> 1</td><td style='border:solid 1px #feefef; padding:10px;'>20</td></tr><tr><td style='border:solid 1px #feefef; padding:10px;'>2</td><td style='border:solid 1px #feefef; padding:10px;'>English</td><td style='border:solid 1px #feefef; padding:10px;'>Layers of English</td><td style='border:solid 1px #feefef; padding:10px;'> 2</td><td style='border:solid 1px #feefef; padding:10px;'>3</td></tr><tr><td colspan='5' style ='background-color:#c7fee1; color:#000000; padding:5px 10px;'><h3 style='margin:0px;'>Transport Details</h3></td></tr><tr><td colspan='5' style='border:solid 1px #feefef; padding:10px;'><b>Transport Type : </b>SELF PICKUP</td></tr><tr><td colspan='5' style='        border: solid 1px #feefef;
        padding: 10px;'><b>Pickup Point Location : </b>Inderlok</td></tr></td></tr></table> 