
    <section class="block-parallax-1 headdingimg">
        <div class="parallax-bg"></div>
        <div class="md-box">
            <div class="container">
                <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                    <div class="col-md-12 headtitle text-center">
                        <h2>ReadEdge Subscription</h2>
                    </div>
                    <div class="col-md-12 text-center">
                        <ul class="innerbradcrum">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li>
                                ReadEdge Subscription

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="" style="padding-bottom:10px">
        <div id="" class="container">
            <div class="clearfix"></div>
            <div class="panel-body">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="subscrihead"><h2><b>Choose</b> Your Plan!</h2></div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="subsmaindiv">
                                <div class="mntdiv">
                                    <b> 3</b> Months
                                </div>
                                <div class="subspricediv-1">
                                    <i class="fa fa-inr" aria-hidden="true"></i> 300
                                </div>
                                <div class="subslistdiv">
                                    <ul>
                                        <li>
                                            Full Content <span class="checkicn"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        </li>
                                        <li>
                                            Email Support <span class="checkicn"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div>
                                <div class="subsbtndiv">
                                    <button type="button" class="subsbtn-1 btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="subsmaindiv">
                                <div class="mntdiv">
                                    <b> 5</b> Months
                                </div>
                                <div class="subspricediv-2">
                                    <i class="fa fa-inr" aria-hidden="true"></i> 500
                                </div>
                                <div class="subslistdiv">
                                    <ul>
                                        <li>
                                            Full Content <span class="checkicn"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        </li>
                                        <li>
                                            Email Support <span class="checkicn"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div>
                                <div class="subsbtndiv">
                                    <button type="button" class="subsbtn-2 btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="subsmaindiv">
                                <div class="mntdiv">
                                    <b> 12</b> Months
                                </div>
                                <div class="subspricediv-3">
                                    <i class="fa fa-inr" aria-hidden="true"></i> 800
                                </div>
                                <div class="subslistdiv">
                                    <ul>
                                        <li>
                                            Full Content <span class="checkicn"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        </li>
                                        <li>
                                            Email Support <span class="checkicn"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        </li>
                                        <li>
                                            On Call Support <span class="checkicn"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        </li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div>
                                <div class="subsbtndiv">
                                    <button type="button" class="subsbtn-3 btn">Subscribe</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>



    <style>
        .block-parallax-1 .md-box {
            padding: 68px 0 !important;
        }

        .subscrihead {
            width: 100%;
            height: auto;
            text-align: center;
            float: left;
            padding: 3% 0;
        }

            .subscrihead h2 {
                font-size: 3em;
                font-weight: normal;
                color: #808080;
            }

        .subsmaindiv {
            width: 100%;
            float: left;
            height: auto;
            background-color: #fff;
            box-shadow: 6px 9px 30px rgba(106, 99, 99, 0.4);
            border-radius: 20px;
            margin: 5% 0;
        }

        .mntdiv {
            font-size: 3em;
            text-align: center;
            color: #808080;
            padding: 5% 0;
        }

        .subspricediv-1 {
            background-image: linear-gradient(to top, #f281cf, #f283d4, #f284d9, #f286df, #f188e4);
            padding: 20px;
            color: #fff;
            font-size: 5em;
            font-weight: bold;
            width: 80%;
            border-radius: 0 70px 76px 0;
            float: left;
            height: auto;
            text-align: center;
        }

        .subspricediv-2 {
            background-image: linear-gradient(to top, #53ccdd, #54cfdb, #57d1d9, #5ad4d7, #5ed6d5);
            padding: 20px;
            color: #fff;
            font-size: 5em;
            font-weight: bold;
            width: 80%;
            border-radius: 0 70px 76px 0;
            float: left;
            height: auto;
            text-align: center;
        }

        .subspricediv-3 {
            background-image: linear-gradient(to top, #6976df, #6a74dd, #6a72da, #6b70d8, #6b6ed5);
            padding: 20px;
            color: #fff;
            font-size: 5em;
            font-weight: bold;
            width: 80%;
            border-radius: 0 70px 76px 0;
            float: left;
            height: auto;
            text-align: center;
        }

        .subslistdiv {
            width: 100%;
            float: left;
            height: auto;
            padding: 5% 10%;
            color: #808080;
        }

            .subslistdiv ul {
                list-style: none;
                font-size: 24px;
                line-height: 38px;
                margin: 0;
                padding: 0;
            }

                .subslistdiv ul li {
                    border-bottom: solid 1px #b3b3b3;
                    line-height: 65px;
                }

        .checkicn {
            float: right;
            color: #b3b3b3;
            font-size: 26px;
        }

        .subsbtndiv {
            width: 100%;
            float: left;
            height: auto;
            text-align: center;
            padding: 7%;
        }

        .subsbtn-1 {
            padding: 10px;
            background-color: #f45d7c;
            color: #fff;
            border: solid 1px #f45d7c;
            width: 100%;
            border-radius: 20px;
            font-size: 2.3em;
            text-transform: uppercase;
            height: 80px;
        }

            .subsbtn-1:hover {
                color: #fff;
            }

        .subsbtn-2 {
            padding: 10px;
            background-color: #28a5f9;
            color: #fff;
            border: solid 1px #28a5f9;
            width: 100%;
            border-radius: 20px;
            font-size: 2.3em;
            text-transform: uppercase;
            height: 80px;
        }

            .subsbtn-2:hover {
                color: #fff;
            }

        .subsbtn-3 {
            padding: 10px;
            background-color: #7451ab;
            color: #fff;
            border: solid 1px #7451ab;
            width: 100%;
            border-radius: 20px;
            font-size: 2.3em;
            text-transform: uppercase;
            height: 80px;
        }

            .subsbtn-3:hover {
                color: #fff;
            }
    </style>

