@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Payment</title>
</head>
<body style="background-color:#a5c339; ">
    <div class="container">
    <div class="midddlefix">
        <div class="midddlefix_div">
            <h4 style="text-align:center;color:#ffffff">
                Please be patient. this process might take some time,
                <br />
                please do not hit refresh or back button or close this window
                <br />
                <img height="50" src="~/img/spinner.gif" />
            </h4>
        </div></div></div>
    

   <style>
       .container { width:100%; margin:0 auto;}
       .midddlefix_div { padding: 0; vertical-align: middle; display: table-cell; margin: 0;}
       .midddlefix { position: absolute; width: 100%; padding: 0; display: table; height: 100%; top: 0; left: 0; margin: 0;}

   </style>
</body>
</html>
