@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
<!DOCTYPE html>
@{
    var documentViewer = new DocumentViewer();
    @if (ViewBag.EbookPdf==true)
    {
         documentViewer = new DocumentViewer
        {
            Width = 800,
            Height = 500,
            Document = ViewBag.file,

            DeniedPermissions = DocumentViewerPermissions.Print | DocumentViewerPermissions.Download | DocumentViewerPermissions.DownloadAsPdf

        };
    }
    else {
         documentViewer = new DocumentViewer
        {
            Width = 800,
           Height = 500,
            Document = ViewBag.file

        };
    }

}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @this.RenderHead(documentViewer)
</head>
<body>
    @this.RenderBody(documentViewer)
</body>
</html>
