
@{
    ViewBag.Title = "BanglaBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>Bangla Board</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Bangla Board</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding-bottom:10px">
    <div class="clearfix"></div>
    <div class="container">
        <div class="row panel-body">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel-body inprdservice">
                    <!--second page design start here-->
                    <div class="container">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="col-md-12 serviceshead">
                                        <h2>Our Books</h2>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center">
                                                <img class="img-responsive img-thumbnail" style="border:none;" alt="Nurture English" src="https://www.prachiindia.com/ModuleFiles/Items/Nurture-Eng-0.png" />
                                            </div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Nurture English">Nurture English</h3>
                                                <p><b>Class :</b> Pre to 4</p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#Nurture-English-pre">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center">
                                                <img class="img-responsive img-thumbnail" style="border:none;" alt="Rhythmic Rhymes-1" src="https://www.prachiindia.com/ModuleFiles/Items/Rhymes1.png" />
                                            </div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Rhythmic Rhymes-1">Rhythmic Rhymes-1</h3>
                                                <p><b>Class :</b> Pre</p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#Rhythmic-Rhymes-1">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center">
                                                <img class="img-responsive img-thumbnail" style="border:none;" alt="Sahitya Prabha" src="https://www.prachiindia.com/ModuleFiles/Items/cover0.png" />
                                            </div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Sahitya Prabha">Sahitya Prabha</h3>
                                                <p><b>Class :</b> Pre to 5</p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#Sahitya-Prabha-pre">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center">
                                                <img class="img-responsive img-thumbnail" style="border:none;" alt="Ganit Mala" src="https://www.prachiindia.com/ModuleFiles/Items/Ganit-Mala-0.png" />
                                            </div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Ganit Mala">Ganit Mala</h3>
                                                <p><b>Class :</b> Pre to 4</p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#Ganit-Mala-pre">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center">
                                                <img class="img-responsive img-thumbnail" style="border:none;" alt="Magic Numbers Part 1-50" src="https://www.prachiindia.com/ModuleFiles/Items/MagicNumber-1.png" />
                                            </div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Magic Numbers Part 1-50">Magic Numbers Part 1-50</h3>
                                                <p><b>Class :</b> Pre</p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#Magic-Numbers-Part-1-50">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center">
                                                <img class="img-responsive img-thumbnail" style="border:none;" alt="Vigyan Parichay" src="https://www.prachiindia.com/ModuleFiles/Items/Vigyan-Parichay-1.png" />
                                            </div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Vigyan Parichay">Vigyan Parichay</h3>
                                                <p><b>Class :</b> 1 to 4</p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#Vigyan-Parichay-1">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center">
                                                <img class="img-responsive img-thumbnail" style="border:none;" alt="Basics of Computer" src="https://www.prachiindia.com/ModuleFiles/Items/32320587basic-of-computer-1.png" />
                                            </div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Basics of Computer">Basics of Computer</h3>
                                                <p><b>Class :</b> 1 to 4</p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#Basics-of-Computer-1">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
























                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--second page design end here-->
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <style>
        .modal-lg {
            width: 70%;
        }

        .close {
            font-size: 28px;
            top: 15px;
        }

        .img-thumbnail {
            height: 250px;
            max-height: 100%;
        }

       
    </style>

}
<div class="modal fade" id="Nurture-English-pre" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">NURTURE ENGLISH</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="https://www.prachiindia.com/ModuleFiles/Series/nature-english_498ba074.png" class="img-responsive" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> Pre to 4</p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <p>প্রাথমিক শ্রেণীর শিশু মনের বিকাশের জন্য Nurture English বইগুলি পাঁচটি সংখ্যায় লিখিত হল।</p>
                        <p>বাংলা মাধ্যম স্কুলের ছাত্রছাত্রীদের শিশূ মনের। বিকাশের দিকে লক্ষ্য রেখে আধুনিক পদ্ধতিতে Nurture English বইগুলি লেখা হল।</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table pricetable">
                            <thead>
                                <tr class="pricetablehead">
                                    <th>Books</th>
                                    <th>Title</th>
                                    <th>Class</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Nurture-Eng-0.png" width="40" height="50"/></td>
                                    <td>Nurture English<br><small>Board: Bangla Board </small></td>
                                    <td>Pre</td>
                                    <td>90.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Nurture-Eng-1.png" width="40" height="50"/></td>
                                    <td>Nurture English<br><small>Board: Bangla Board </small></td>
                                    <td>1</td>
                                    <td>90.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Nurture-Eng-2.png" width="40" height="50"/></td>
                                    <td>Nurture English<br><small>Board: Bangla Board </small></td>
                                    <td>2</td>
                                    <td>100.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Nurture-Eng-3.png" width="40" height="50"/></td>
                                    <td>Nurture English<br><small>Board: Bangla Board </small></td>
                                    <td>3</td>
                                    <td>110.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Nurture-Eng-4.png" width="40" height="50"/></td>
                                    <td>Nurture English<br><small>Board: Bangla Board </small></td>
                                    <td>4</td>
                                    <td>110.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Rhythmic-Rhymes-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Rhythmic Rhymes</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="https://www.prachiindia.com/ModuleFiles/Series/Untitled-1_fffe5729.png" class="img-responsive" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> Pre</p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <p>PRACHI Rhythmic Rhymes is a series of two rhyme books which have some new and some timeless classic rhymes invoking a sense of joy in the inquisitive young learners. It presents a creative learning process in accordance with the child psychology.</p>
                        <p><b>Salient Features of the Series :</b></p>
                        <ul>
                            <li>Interesting and musical rhymes.</li>
                            <li>Easy to read text.</li>
                            <li>Attractive, colourful and meaningful illustrations to help the learners understand the rhymes properly.</li>
                            <li>Mind-expanding vocabulary and concepts.</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table pricetable">
                            <thead>
                                <tr class="pricetablehead">
                                    <th>Books</th>
                                    <th>Title</th>
                                    <th>Class</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Rhymes1.png" width="40" height="50"/></td>
                                    <td>Rhythmic Rhymes-1</td>
                                    <td>Pre</td>
                                    <td>70.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Rhymes-2.png" width="40" height="50"/></td>
                                    <td>Rhythmic Rhymes-2</td>
                                    <td>Pre</td>
                                    <td>80.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Sahitya-Prabha-pre" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Sahitya Prabha</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="https://www.prachiindia.com/ModuleFiles/Series/Untitled-1_3db065a3.png" class="img-responsive" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> Pre & 5</p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <p>বাংলা ভাষার সরল ব্যবহার ও শিশুমনের বিকাশের দিকে লক্ষ্য রেখে আধুনিক পদ্ধতিতে সাহিত্য প্রভা বইটি বিদ্যালযের পঠনের জন্য লিখিত হল।</p>
                        <p>বইটি পশ্চিমবঙ্গ বাংলা অ্যাকাডেমি নির্দেশিত বানানবিধি অনুসরণ করা। হযেছে।</p>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table pricetable">
                            <thead>
                                <tr class="pricetablehead">
                                    <th>Books</th>
                                    <th>Title</th>
                                    <th>Class</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="https://www.prachiindia.com/ModuleFiles/Items/cover0.png" width="40" height="50" />
                                    </td>
                                    <td>Sahitya Prabha</td>
                                    <td>Pre</td>
                                    <td>
                                        90.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://www.prachiindia.com/ModuleFiles/Items/cover1.png" width="40" height="50" />
                                    </td>
                                    <td>Sahitya Prabha</td>
                                    <td>1</td>
                                    <td>
                                        90.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://www.prachiindia.com/ModuleFiles/Items/cover2.jpg" width="40" height="50" />
                                    </td>
                                    <td>Sahitya Prabha</td>
                                    <td>2</td>
                                    <td>
                                        100.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://www.prachiindia.com/ModuleFiles/Items/cover3.jpg" width="40" height="50" />
                                    </td>
                                    <td>Sahitya Prabha</td>
                                    <td>3</td>
                                    <td>
                                        110.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://www.prachiindia.com/ModuleFiles/Items/cover4.jpg" width="40" height="50" />
                                    </td>
                                    <td>Sahitya Prabha</td>
                                    <td>4</td>
                                    <td>
                                        110.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://www.prachiindia.com/ModuleFiles/Items/cover5.png" width="40" height="50" />
                                    </td>
                                    <td>Sahitya Prabha</td>
                                    <td>5</td>
                                    <td>
                                        120.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Ganit-Mala-pre" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Ganit Mala</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="https://www.prachiindia.com/ModuleFiles/Series/Ganit-Mala_cea62db0.png" class="img-responsive" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> Pre to 4</p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <p>গণিত শাস্ত্রের অধ্যাযন সকল ছাত্রছাত্রীদের জীবনে একটি গুরুত্বপূর্ণ অধ্যায়। কেননা প্রাথমিক পর্যায়। থেকে এই বিষয়টিকে ঠিকমতাে অনুধাবন করতে না পারলে ছাত্রছাত্রীদের পিছিযে পড়তে হয় ।</p>
                        <p>এই বিষয়গুলির কথা মাথায় রেখে আমরা গণিত মালা পর্যাযে শূণ্য থেকে চার-এই পাঁচটি বই প্রকাশ করেছি। প্রতিটি বই অত্যন্ত সহজ সরল ভাষায় রঙীন ও বাস্তব সম্মত ছবির সাহায্যে গণিতের বিসযগুলিকে ছেলেমেয়েদের বােঝানাে হয়েছে। বাস্তব বিষযগুলিকে নিয়ে গণিতের গণনা শেখানাে হয়েছে।</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table pricetable">
                            <thead>
                                <tr class="pricetablehead">
                                    <th>Books</th>
                                    <th>Title</th>
                                    <th>Class</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Ganit-Mala-0.png" width="40" height="50"></td>
                                    <td>Ganit Mala</td>
                                    <td>Pre</td>
                                    <td>90.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Ganit-Mala-1.png" width="40" height="50"></td>
                                    <td>Ganit Mala </td>
                                    <td>1</td>
                                    <td>100.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Ganit-Mala-2.png" width="40" height="50"></td>
                                    <td>Ganit Mala </td>
                                    <td>2</td>
                                    <td>100.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Ganit-Mala-3.png" width="40" height="50"></td>
                                    <td>Ganit Mala </td>
                                    <td>3</td>
                                    <td>110.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Ganit-Mala-4.png" width="40" height="50"></td>
                                    <td>Ganit Mala </td>
                                    <td>4</td>
                                    <td>110.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Magic-Numbers-Part-1-50" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Magic Numbers</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="https://www.prachiindia.com/ModuleFiles/Series/magic-number_63217f77.png" class="img-responsive" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> Pre</p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <p>Prachi Magic Numbers is a set of two books specially designed for tiny-tots. The first book introduces the numbers from 1 to 50, while the second book further extends from 1 to 100. The learners will be able to build and boost their counting abilities.</p>
                        <p><b>Salient Features :</b></p>
                        <ul>
                            <li>Pages-cum-worksheets with colourful pictures.</li>
                            <li>Each number introduced is given in a large box highlighted with strokes for easy formation of the number.</li>
                            <li>Counting supported by the number of objects is given so that child can recognise, count and write precisely.</li>
                            <li>Revision exercises after every ten numbers to boost the number concept.</li>
                            <li>Ample practice space to write the number.</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table pricetable">
                            <thead>
                                <tr class="pricetablehead">
                                    <th>Books</th>
                                    <th>Title</th>
                                    <th>Class</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/MagicNumber-1.png" width="40" height="50"></td>
                                    <td>Magic Numbers Part 1-50</td>
                                    <td>Pre</td>
                                    <td>70.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/MagicNumber-2.png" width="40" height="50"></td>
                                    <td>Magic Numbers Part 1-100</td>
                                    <td>Pre</td>
                                    <td>80.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Vigyan-Parichay-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Vigyan Parichay</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="https://www.prachiindia.com/ModuleFiles/Series/Untitled-1_6314b014.png" class="img-responsive" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 1 & 4</p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <p>পশ্চিমবঙ্গের সকল কিন্ডারগার্টেন ও প্রাথমিক বিদ্যালয়গুলির উপযােগী সহজ ও সরল ভাষায় লিখিত বিজ্ঞান পরিচয় পাঠ্যপুস্তক।</p>
                        <p>বাংলা অ্যাকাডেমি ও মধ্যশিক্ষা পর্ষদ নির্দেশিত নতুন বানান বিধি অবলম্বনে লিখিত।</p>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table pricetable">
                            <thead>
                                <tr class="pricetablehead">
                                    <th>Books</th>
                                    <th>Title</th>
                                    <th>Class</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Vigyan-Parichay-1.png" width="40" height="50"></td>
                                    <td>Vigyan Parichay </td>
                                    <td>1</td>
                                    <td>90.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Vigyan-Parichay-2.png" width="40" height="50"></td>
                                    <td>Vigyan Parichay</td>
                                    <td>2</td>
                                    <td>90.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Vigyan-Parichay-3.png" width="40" height="50"></td>
                                    <td>Vigyan Parichay</td>
                                    <td>3</td>
                                    <td>100.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/Vigyan-Parichay-4.png" width="40" height="50"></td>
                                    <td>Vigyan Parichay</td>
                                    <td>4</td>
                                    <td>110.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Basics-of-Computer-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Basics of Computer</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="https://www.prachiindia.com/ModuleFiles/Series/Basic-Of-Computer_cf6517c1.png" class="img-responsive" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 1 & 2</p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <p>PRACHI Rhythmic Rhymes is a series of two rhyme books which have some new and some timeless classic rhymes invoking a sense of joy in the inquisitive young learners. It presents a creative learning process in accordance with the child psychology.</p>
                        <p><b>Salient Features of the Series :</b></p>
                        <ul>
                            <li>Interesting and musical rhymes.</li>
                            <li>Easy to read text.</li>
                            <li>Attractive, colourful and meaningful illustrations to help the learners understand the rhymes properly.</li>
                            <li>Mind-expanding vocabulary and concepts.</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table pricetable">
                            <thead>
                                <tr class="pricetablehead">
                                    <th>Books</th>
                                    <th>Title</th>
                                    <th>Class</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/32320587basic-of-computer-1.png" width="40" height="50"></td>
                                    <td>Basics of Computer</td>
                                    <td>1</td>
                                    <td>90.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/32320588basic-of-computer-2.png" width="40" height="50"></td>
                                    <td>Basics of Computer</td>
                                    <td>2</td>
                                    <td>100.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/32320589basic-of-computer-3.png" width="40" height="50"></td>
                                    <td>Basics of Computer</td>
                                    <td>3</td>
                                    <td>110.00</td>
                                </tr>
                                <tr>
                                    <td><img src="https://www.prachiindia.com/ModuleFiles/Items/32320590basic-of-computer-4.png" width="40" height="50"></td>
                                    <td>Basics of Computer</td>
                                    <td>4</td>
                                    <td>120.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

