
@{
    ViewBag.Title = "ConversionServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="headdingimg">
    @*<p><img src="~/img/slider/head-sample.png" /></p>*@
    <div class="container">
        <div class="panel-body" style="padding-bottom: 0">
            <div class="col-md-12 headtitle">
                <h2>Conversion Services</h2>
            </div>
        </div>
    </div>
</section>
<section id="conversion" class="">
    <div class="container">
       
        <div class="clearfix"></div>
        <div class="panel-body">
            <div class="col-md-12" style="border:solid 1px #cccccc; float:left;">
                <div class="panel-body">

                    <div class="col-md-12">
                        <div class="panel-body inprdservice">
                            <div class="col-md-12 inprdservicehead">
                                <p><b>Conversion Services</b></p>
                            </div>
                            <div class="col-md-6"><p><img src="~/img/slider/conversion.png" class="img-responsive img-thumbnail" /></p></div>
                            <div class="col-md-6">
                                <p>We focus on content transformation services. The versatile business portfolio of Prachi group is developed with core focus on providing best quality publishing solutions in the versatile content conversion arena, legal processes and world class web and IT services.</p>
                                <p>Our business verticals have aligned themselves in perfect coordination to create end to end solutions for our customers.</p>
                                <p><b>Our range of solution includes on-site/off-site services:-</b></p>
                                <ul>
                                    <li>e-Governance Solutions</li>
                                    <li>Digital Library Solutions</li>
                                    <li>Data Conversion (XML, HTML, PDF/A, DOC, IMG)</li>
                                    <li>Newspaper Digitization (Mets/Alto Output)</li>
                                    <li>Publishing Services Solution</li>
                                    <li>Imaging and Indexing for archival System</li>
                                    <li>eBook Publishing</li>
                                    <li>Forms Processing</li>
                                    <li>e-Pub Creations</li>
                                    <li>Content Management</li>
                                    <li>High Resolution Scanning</li>
                                    <li>Data Capturing</li>
                                    <li>OCR & OCR Clean Up</li>
                                    <li>NIMAS Conversion</li>
                                    <li>Video editing</li>
                                    <li>Microfilming</li>
                                </ul>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

