
@{
    ViewBag.Title = "DigitizationServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="headdingimg">
    @*<p><img src="~/img/slider/head-sample.png" /></p>*@
    <div class="container">
        <div class="panel-body" style="padding-bottom: 0">
            <div class="col-md-12 headtitle">
                <h2>Digitization Services</h2>
            </div>
        </div>
    </div>
</section>
<section id="career" class="">
    <div class="container">
       
        <div class="clearfix"></div>
        <div class="panel-body">
            <div class="col-md-12" style="border:solid 1px #cccccc; float:left;">
                <div class="panel-body">
                    
                    <div class="col-md-12">
                        <div class="panel-body inprdservice">
                            <div class="col-md-12 inprdservicehead">
                                <p><b>Digitization Services</b></p>
                            </div>
                            <div class="col-md-6"><p><img src="~/img/slider/digitization-service.png" class="img-responsive img-thumbnail" /></p></div>
                                <div class="col-md-6">
                                    <p>We extend the definition of digital services service and create excellence in every field of operation. Our digital services sector represents a dynamic knowledge driven organization dedicated to provide world class solutions to its clients across industry.</p>
                                    <p>We are a people oriented company and invest heavily in our human capital to develop talent pool and deliver unmatched service quality to our clients.</p>
                                </div>


                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

