
@{
    ViewBag.Title = "DigitalRightManagment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="headdingimg">
    @*<p><img src="~/img/slider/head-sample.png" /></p>*@
    <div class="container">
        <div class="panel-body" style="padding-bottom: 0">
            <div class="col-md-12 headtitle">
                <h2>Digital Rights Management (DRM)</h2>
            </div>
        </div>
    </div>
</section>
<section id="Digital" class="">
    


    <div class="container">
        <div id="header">
            <a href="#howtouse" class="nav-button">How to Use</a>
            <a href="#examples" class="nav-button">Examples</a>
            <a href="#credits" class="nav-button">Credits</a>
        </div>


        <div class="slide" id="howtouse">
            <div class="col-md-12 bookstitle text-center">
                <h2>English</h2>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>NEW EDGEWAYS</b></p>

                    </div>

                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/edgeway-1.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Coursebook <br />LKG to Class VIII </h4>
                            New Edgeways Multiskill English is a systematically graded series designed meticulously to enable the learners to communicate in English accurately, fluently and effectively. The primary objective of this series is to make the learning of English interesting and effortless. With an appealing layout having colourful and creative illustrations, these books stimulate the learners imagination. Sufficient blank space has been provided to make the written work less cumbersome.
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>
                        <p>
                            <img src="~/img/slider/books/edgeway-2.png" class="img-responsive" style="float:right; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Activity Book <br />For Classes I to VIII </h4>
                            <ul>
                                <li>Focuses on improving the students' language skills.</li>
                                <li>Enables the students to internalise the rules of grammar through practice.</li>
                                <li>Helps them to gain competence and proficiency.</li>
                            </ul>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>
                        <p>
                            <img src="~/img/slider/books/edgeway-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Literature Reader <br />For Classes I to VIII </h4>
                            Develops the students' interest in literature and motivates them to appreciate poetry, fiction and drama. Two plays have been included to help the students read and develop critical thinking, express themselves confidently, interpret and give personal views. Poems for elocution to appreciate poetry, create a new interest in rhyme and rhythm and improve oral fluency have also been included. Local, global extrapolatory questions and references to the context are framed to improve the study skills of the students.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Coursebook</th>
                                    <th>Activitybook</th>
                                    <th>Literature Reader</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-A</td>
                                    <td>150.00 </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-B</td>
                                    <td>150.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-1</td>
                                    <td>200.00</td>
                                    <td>120.00</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>220.00</td>
                                    <td>120.00</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>240.00</td>
                                    <td>130.00</td>
                                    <td>130.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>250.00</td>
                                    <td>130.00</td>
                                    <td>140.00</td>
                                </tr>
                                <tr>
                                    <td>Part-5</td>
                                    <td>260.00</td>
                                    <td>130.00</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Part-6</td>
                                    <td>270.00</td>
                                    <td>150.00</td>
                                    <td>160.00</td>
                                </tr>
                                <tr>
                                    <td>Part-7</td>
                                    <td>280.00</td>
                                    <td>150.00</td>
                                    <td>170.00</td>
                                </tr>
                                <tr>
                                    <td>Part-8</td>
                                    <td>290.00</td>
                                    <td>150.00</td>
                                    <td>180.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>LAYERS OF ENGLISH</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/layerofenglish.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />LAYERS OF ENGLISH<br /> A Book on Communicative Approach <br />For Classes I to VIII </h4>
                            Language is the most important medium of expressing thoughts and exchanging ideas. In today's world of globalization, English plays a very vital role as it is used allover the world. Thus there is a need to acquire linguistic and communicative skills.<br /><b>Prachi Layers of English</b> has been focused on to improve the communicative skills of the learners. It is a series of eight books from Classes I to VIII. Based on interactive approach, these books have been designed to develop the four basic skills:
                            <ul>
                                <li><b>Listening skill</b> enhances the ability to understand English.</li>
                                <li><b>Speaking skill</b> generates ability to speak English correctly and easily.</li>
                                <li><b>Reading skill</b> implies the ability to understand the written English.</li>
                                <li><b>Writing skill</b> means ability to write English with proper usage.</li>
                            </ul>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>170.00 </td>
                                    <td>Part-5</td>
                                    <td>240.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>180.00</td>
                                    <td>Part-6</td>
                                    <td>250.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>200.00</td>
                                    <td>Part-7</td>
                                    <td>260.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>220.00</td>
                                    <td>Part-8</td>
                                    <td>270.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ENGLISH GRAMMAR</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/english-grammer.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />ENGLISH GRAMMAR<br /> A Book of English Grammar & Composition <br />For Classes I to VIII </h4>
                            Prachi English Grammar is a series of eight, meticulously graded and student friendly grammar books for classes 1-8 specially designed to simplify the essential grammatical concepts and equip the students to use correct English by honing their listening, speaking, reading and writing skills. <br />
                            <em>Salient Features of the Series</em><br />
                            <ol>
                                <li>All grammatical concepts are explained using lucid illustrations followed by a variety of practice exercises.</li>
                                <li>Practice exercises provided are well-graded and large in number including crosswords, puzzles, word searches riddles etc.</li>
                                <li>Tips and Notes to Remember have been highlighted to avoid common errors made by students.</li>
                                <li>A section on Comprehension allows the learners to develop reading skills, inferential abilities and vocabulary.</li>
                                <li>The Composition section along with structured guidelines would enable the students to use their imagination and organise their thoughts well.</li>
                            </ol>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>150.00 </td>
                                    <td>Part-5</td>
                                    <td>220.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>150.00</td>
                                    <td>Part-6</td>
                                    <td>260.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>180.00</td>
                                    <td>Part-7</td>
                                    <td>280.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>200.00</td>
                                    <td>Part-8</td>
                                    <td>270.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ENGLISH GRAMMAR</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />SUPPLEMENTARY READER<br /> A Book of Short Stories <br />For Classes III to VIII </h4>
                            The series entitled <br />
                            <b>Supplementary Reader</b> (Parts III to VIII) consisting of six books, is our humble step to provide graded readers in the form of short stories for the age group of 8 to 15 years. The stories are not only interesting and enioyable for young readers but also highly conducive for fruitful interaction with themselves as well as with teachers and others. Multicolour illustrations bring the stories alive. It contains variety of Comprehension Exercises as well.

                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-3</td>
                                    <td>140.00 </td>
                                    <td>Part-6</td>
                                    <td>170.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>150.00</td>
                                    <td>Part-7</td>
                                    <td>180.00</td>
                                </tr>
                                <tr>
                                    <td>Part-5</td>
                                    <td>160.00</td>
                                    <td>Part-8</td>
                                    <td>180.00</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>EXCELLENCE IN ENGLISH</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />EXCELLENCE IN ENGLISH<br /> Revised Series of Interactive English Grammar  <br />For Classes I to VIII </h4><br />
                            <ul style="float:left">
                                <li>Assessment of Speaking & Listening Skills (ASL)</li>
                                <li>Problem Solving Assessment (PSA) </li>
                                <li>Reading Skills </li>
                                <li>Writing Skills</li>
                                <li>Grammar</li>
                            </ul>


                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>180.00 </td>
                                    <td>Part-5</td>
                                    <td>230.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>190.00</td>
                                    <td>Part-6</td>
                                    <td>240.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>200.00</td>
                                    <td>Part-7</td>
                                    <td>250.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>220.00</td>
                                    <td>Part-8</td>
                                    <td>260.00</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ESSENCE OF ENGLISH GRAMMAR AND COMPOSITION</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />ESSENCE OF ENGLISH GRAMMAR AND COMPOSITION<br /> Revised Series of Interactive English Grammar  <br />For Classes IX / X </h4><br />
                            <ul style="float:left">
                                <li>Designed to impart good language skills and impressive writing expression </li>
                                <li>Suitable for all competitive challenges </li>

                            </ul>


                        </p>


                    </div>


                </div>
            </div>
        </div>


        <div class="slide" id="examples">
            <div class="col-md-12 bookstitle text-center">
                <h2>English</h2>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>NEW EDGEWAYS</b></p>

                    </div>

                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Coursebook <br />LKG to Class VIII </h4>
                            New Edgeways Multiskill English is a systematically graded series designed meticulously to enable the learners to communicate in English accurately, fluently and effectively. The primary objective of this series is to make the learning of English interesting and effortless. With an appealing layout having colourful and creative illustrations, these books stimulate the learners imagination. Sufficient blank space has been provided to make the written work less cumbersome.
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:right; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Activity Book <br />For Classes I to VIII </h4>
                            <ul>
                                <li>Focuses on improving the students' language skills.</li>
                                <li>Enables the students to internalise the rules of grammar through practice.</li>
                                <li>Helps them to gain competence and proficiency.</li>
                            </ul>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Literature Reader <br />For Classes I to VIII </h4>
                            Develops the students' interest in literature and motivates them to appreciate poetry, fiction and drama. Two plays have been included to help the students read and develop critical thinking, express themselves confidently, interpret and give personal views. Poems for elocution to appreciate poetry, create a new interest in rhyme and rhythm and improve oral fluency have also been included. Local, global extrapolatory questions and references to the context are framed to improve the study skills of the students.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Coursebook</th>
                                    <th>Activitybook</th>
                                    <th>Literature Reader</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-A</td>
                                    <td>150.00 </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-B</td>
                                    <td>150.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-1</td>
                                    <td>200.00</td>
                                    <td>120.00</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>220.00</td>
                                    <td>120.00</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>240.00</td>
                                    <td>130.00</td>
                                    <td>130.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>250.00</td>
                                    <td>130.00</td>
                                    <td>140.00</td>
                                </tr>
                                <tr>
                                    <td>Part-5</td>
                                    <td>260.00</td>
                                    <td>130.00</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Part-6</td>
                                    <td>270.00</td>
                                    <td>150.00</td>
                                    <td>160.00</td>
                                </tr>
                                <tr>
                                    <td>Part-7</td>
                                    <td>280.00</td>
                                    <td>150.00</td>
                                    <td>170.00</td>
                                </tr>
                                <tr>
                                    <td>Part-8</td>
                                    <td>290.00</td>
                                    <td>150.00</td>
                                    <td>180.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>LAYERS OF ENGLISH</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />LAYERS OF ENGLISH<br /> A Book on Communicative Approach <br />For Classes I to VIII </h4>
                            Language is the most important medium of expressing thoughts and exchanging ideas. In today's world of globalization, English plays a very vital role as it is used allover the world. Thus there is a need to acquire linguistic and communicative skills.<br /><b>Prachi Layers of English</b> has been focused on to improve the communicative skills of the learners. It is a series of eight books from Classes I to VIII. Based on interactive approach, these books have been designed to develop the four basic skills:
                            <ul>
                                <li><b>Listening skill</b> enhances the ability to understand English.</li>
                                <li><b>Speaking skill</b> generates ability to speak English correctly and easily.</li>
                                <li><b>Reading skill</b> implies the ability to understand the written English.</li>
                                <li><b>Writing skill</b> means ability to write English with proper usage.</li>
                            </ul>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>170.00 </td>
                                    <td>Part-5</td>
                                    <td>240.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>180.00</td>
                                    <td>Part-6</td>
                                    <td>250.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>200.00</td>
                                    <td>Part-7</td>
                                    <td>260.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>220.00</td>
                                    <td>Part-8</td>
                                    <td>270.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ENGLISH GRAMMAR</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />ENGLISH GRAMMAR<br /> A Book of English Grammar & Composition <br />For Classes I to VIII </h4>
                            Prachi English Grammar is a series of eight, meticulously graded and student friendly grammar books for classes 1-8 specially designed to simplify the essential grammatical concepts and equip the students to use correct English by honing their listening, speaking, reading and writing skills. <br />
                            <em>Salient Features of the Series</em><br />
                            <ol>
                                <li>All grammatical concepts are explained using lucid illustrations followed by a variety of practice exercises.</li>
                                <li>Practice exercises provided are well-graded and large in number including crosswords, puzzles, word searches riddles etc.</li>
                                <li>Tips and Notes to Remember have been highlighted to avoid common errors made by students.</li>
                                <li>A section on Comprehension allows the learners to develop reading skills, inferential abilities and vocabulary.</li>
                                <li>The Composition section along with structured guidelines would enable the students to use their imagination and organise their thoughts well.</li>
                            </ol>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>150.00 </td>
                                    <td>Part-5</td>
                                    <td>220.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>150.00</td>
                                    <td>Part-6</td>
                                    <td>260.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>180.00</td>
                                    <td>Part-7</td>
                                    <td>280.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>200.00</td>
                                    <td>Part-8</td>
                                    <td>270.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ENGLISH GRAMMAR</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />SUPPLEMENTARY READER<br /> A Book of Short Stories <br />For Classes III to VIII </h4>
                            The series entitled <br />
                            <b>Supplementary Reader</b> (Parts III to VIII) consisting of six books, is our humble step to provide graded readers in the form of short stories for the age group of 8 to 15 years. The stories are not only interesting and enioyable for young readers but also highly conducive for fruitful interaction with themselves as well as with teachers and others. Multicolour illustrations bring the stories alive. It contains variety of Comprehension Exercises as well.

                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-3</td>
                                    <td>140.00 </td>
                                    <td>Part-6</td>
                                    <td>170.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>150.00</td>
                                    <td>Part-7</td>
                                    <td>180.00</td>
                                </tr>
                                <tr>
                                    <td>Part-5</td>
                                    <td>160.00</td>
                                    <td>Part-8</td>
                                    <td>180.00</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>EXCELLENCE IN ENGLISH</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />EXCELLENCE IN ENGLISH<br /> Revised Series of Interactive English Grammar  <br />For Classes I to VIII </h4><br />
                            <ul style="float:left">
                                <li>Assessment of Speaking & Listening Skills (ASL)</li>
                                <li>Problem Solving Assessment (PSA) </li>
                                <li>Reading Skills </li>
                                <li>Writing Skills</li>
                                <li>Grammar</li>
                            </ul>


                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>180.00 </td>
                                    <td>Part-5</td>
                                    <td>230.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>190.00</td>
                                    <td>Part-6</td>
                                    <td>240.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>200.00</td>
                                    <td>Part-7</td>
                                    <td>250.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>220.00</td>
                                    <td>Part-8</td>
                                    <td>260.00</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ESSENCE OF ENGLISH GRAMMAR AND COMPOSITION</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />ESSENCE OF ENGLISH GRAMMAR AND COMPOSITION<br /> Revised Series of Interactive English Grammar  <br />For Classes IX / X </h4><br />
                            <ul style="float:left">
                                <li>Designed to impart good language skills and impressive writing expression </li>
                                <li>Suitable for all competitive challenges </li>

                            </ul>


                        </p>


                    </div>


                </div>
            </div>
        </div>

        <div class="slide" id="credits">
            <div class="col-md-12 bookstitle text-center">
                <h2>English</h2>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>NEW EDGEWAYS</b></p>

                    </div>

                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Coursebook <br />LKG to Class VIII </h4>
                            New Edgeways Multiskill English is a systematically graded series designed meticulously to enable the learners to communicate in English accurately, fluently and effectively. The primary objective of this series is to make the learning of English interesting and effortless. With an appealing layout having colourful and creative illustrations, these books stimulate the learners imagination. Sufficient blank space has been provided to make the written work less cumbersome.
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:right; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Activity Book <br />For Classes I to VIII </h4>
                            <ul>
                                <li>Focuses on improving the students' language skills.</li>
                                <li>Enables the students to internalise the rules of grammar through practice.</li>
                                <li>Helps them to gain competence and proficiency.</li>
                            </ul>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />NEW EDGEWAYS<br /> Multiskill English Literature Reader <br />For Classes I to VIII </h4>
                            Develops the students' interest in literature and motivates them to appreciate poetry, fiction and drama. Two plays have been included to help the students read and develop critical thinking, express themselves confidently, interpret and give personal views. Poems for elocution to appreciate poetry, create a new interest in rhyme and rhythm and improve oral fluency have also been included. Local, global extrapolatory questions and references to the context are framed to improve the study skills of the students.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Coursebook</th>
                                    <th>Activitybook</th>
                                    <th>Literature Reader</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-A</td>
                                    <td>150.00 </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-B</td>
                                    <td>150.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-1</td>
                                    <td>200.00</td>
                                    <td>120.00</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>220.00</td>
                                    <td>120.00</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>240.00</td>
                                    <td>130.00</td>
                                    <td>130.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>250.00</td>
                                    <td>130.00</td>
                                    <td>140.00</td>
                                </tr>
                                <tr>
                                    <td>Part-5</td>
                                    <td>260.00</td>
                                    <td>130.00</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Part-6</td>
                                    <td>270.00</td>
                                    <td>150.00</td>
                                    <td>160.00</td>
                                </tr>
                                <tr>
                                    <td>Part-7</td>
                                    <td>280.00</td>
                                    <td>150.00</td>
                                    <td>170.00</td>
                                </tr>
                                <tr>
                                    <td>Part-8</td>
                                    <td>290.00</td>
                                    <td>150.00</td>
                                    <td>180.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>LAYERS OF ENGLISH</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />LAYERS OF ENGLISH<br /> A Book on Communicative Approach <br />For Classes I to VIII </h4>
                            Language is the most important medium of expressing thoughts and exchanging ideas. In today's world of globalization, English plays a very vital role as it is used allover the world. Thus there is a need to acquire linguistic and communicative skills.<br /><b>Prachi Layers of English</b> has been focused on to improve the communicative skills of the learners. It is a series of eight books from Classes I to VIII. Based on interactive approach, these books have been designed to develop the four basic skills:
                            <ul>
                                <li><b>Listening skill</b> enhances the ability to understand English.</li>
                                <li><b>Speaking skill</b> generates ability to speak English correctly and easily.</li>
                                <li><b>Reading skill</b> implies the ability to understand the written English.</li>
                                <li><b>Writing skill</b> means ability to write English with proper usage.</li>
                            </ul>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>170.00 </td>
                                    <td>Part-5</td>
                                    <td>240.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>180.00</td>
                                    <td>Part-6</td>
                                    <td>250.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>200.00</td>
                                    <td>Part-7</td>
                                    <td>260.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>220.00</td>
                                    <td>Part-8</td>
                                    <td>270.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ENGLISH GRAMMAR</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />ENGLISH GRAMMAR<br /> A Book of English Grammar & Composition <br />For Classes I to VIII </h4>
                            Prachi English Grammar is a series of eight, meticulously graded and student friendly grammar books for classes 1-8 specially designed to simplify the essential grammatical concepts and equip the students to use correct English by honing their listening, speaking, reading and writing skills. <br />
                            <em>Salient Features of the Series</em><br />
                            <ol>
                                <li>All grammatical concepts are explained using lucid illustrations followed by a variety of practice exercises.</li>
                                <li>Practice exercises provided are well-graded and large in number including crosswords, puzzles, word searches riddles etc.</li>
                                <li>Tips and Notes to Remember have been highlighted to avoid common errors made by students.</li>
                                <li>A section on Comprehension allows the learners to develop reading skills, inferential abilities and vocabulary.</li>
                                <li>The Composition section along with structured guidelines would enable the students to use their imagination and organise their thoughts well.</li>
                            </ol>
                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>150.00 </td>
                                    <td>Part-5</td>
                                    <td>220.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>150.00</td>
                                    <td>Part-6</td>
                                    <td>260.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>180.00</td>
                                    <td>Part-7</td>
                                    <td>280.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>200.00</td>
                                    <td>Part-8</td>
                                    <td>270.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ENGLISH GRAMMAR</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />SUPPLEMENTARY READER<br /> A Book of Short Stories <br />For Classes III to VIII </h4>
                            The series entitled <br />
                            <b>Supplementary Reader</b> (Parts III to VIII) consisting of six books, is our humble step to provide graded readers in the form of short stories for the age group of 8 to 15 years. The stories are not only interesting and enioyable for young readers but also highly conducive for fruitful interaction with themselves as well as with teachers and others. Multicolour illustrations bring the stories alive. It contains variety of Comprehension Exercises as well.

                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-3</td>
                                    <td>140.00 </td>
                                    <td>Part-6</td>
                                    <td>170.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>150.00</td>
                                    <td>Part-7</td>
                                    <td>180.00</td>
                                </tr>
                                <tr>
                                    <td>Part-5</td>
                                    <td>160.00</td>
                                    <td>Part-8</td>
                                    <td>180.00</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>EXCELLENCE IN ENGLISH</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />EXCELLENCE IN ENGLISH<br /> Revised Series of Interactive English Grammar  <br />For Classes I to VIII </h4><br />
                            <ul style="float:left">
                                <li>Assessment of Speaking & Listening Skills (ASL)</li>
                                <li>Problem Solving Assessment (PSA) </li>
                                <li>Reading Skills </li>
                                <li>Writing Skills</li>
                                <li>Grammar</li>
                            </ul>


                        </p>
                        <div class="col-md-12" style="width: 100%; height: auto; float: left; margin: 10px 0;"><hr /></div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Parts</th>
                                    <th>Price</th>
                                    <th>Parts</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Part-1</td>
                                    <td>180.00 </td>
                                    <td>Part-5</td>
                                    <td>230.00</td>
                                </tr>
                                <tr>
                                    <td>Part-2</td>
                                    <td>190.00</td>
                                    <td>Part-6</td>
                                    <td>240.00</td>
                                </tr>
                                <tr>
                                    <td>Part-3</td>
                                    <td>200.00</td>
                                    <td>Part-7</td>
                                    <td>250.00</td>
                                </tr>
                                <tr>
                                    <td>Part-4</td>
                                    <td>220.00</td>
                                    <td>Part-8</td>
                                    <td>260.00</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>ESSENCE OF ENGLISH GRAMMAR AND COMPOSITION</b></p>

                    </div>
                    <div class="col-md-12">
                        <p>
                            <img src="~/img/slider/books/product-3.png" class="img-responsive" style="float:left; margin:0 5px 5px 0;" />
                            <h4>Prachi<br />ESSENCE OF ENGLISH GRAMMAR AND COMPOSITION<br /> Revised Series of Interactive English Grammar  <br />For Classes IX / X </h4><br />
                            <ul style="float:left">
                                <li>Designed to impart good language skills and impressive writing expression </li>
                                <li>Suitable for all competitive challenges </li>

                            </ul>


                        </p>


                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Content/PrachiJs/jquery-1.8.2.min.js"></script>
    <script src="~/Content/PrachiJs/jquery.scrollTo-1.4.3.1.min.js"></script>
    <script src="~/Content/PrachiJs/jquery.scrollorama.js"></script>
    <script src="~/Content/PrachiJs/jquery.scrolldeck.js"></script>


    

    <script type="text/javascript">
	  $(document).ready(function() {
		  	$('.slide').css('min-height',$(window).height());

			var deck = new $.scrolldeck({
				buttons: '.nav-button',
				easing: 'easeInOutExpo'
			});

			// add other animations using the scrolldeck.controller (see Scrollorama plugin)
			console.log(deck.controller);
			deck.controller.animate('#instructions',{ duration: 100, property:'opacity', end: 0 });

	  });
    </script>

    
}

