
@{
    ViewBag.Title = "EbookServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="headdingimg">
    @*<p><img src="~/img/slider/head-sample.png" /></p>*@
    <div class="container">
        <div class="panel-body" style="padding-bottom: 0">
            <div class="col-md-12 headtitle">
                <h2>eBook Services</h2>
            </div>
        </div>
    </div>
</section>
<section id="ebook" class="">
    <div class="container">

        <div class="clearfix"></div>

        <div class="row panel-body">

            <div class="col-md-12">
                <div class="panel-body inprdservice">

                    <!-- <div class="col-md-6"><p><img src="~/img/slider/ebook-service.png" class="img-responsive img-thumbnail" /></p></div>
                     <div class="col-md-6">
                         <p>We brings more than 20 years of Publishing  expertise and experience to create, enhance, distribute, protect and manage your valuable content data and information assets. We provide end-to-end content related technological solutions, services and products for Education, Publishing and Content Repositories.</p>
                         <ul>
                             <li>E-Book development</li>
                             <li>E-Book Production</li>
                             <li>Conversion in All Formats</li>
                             <li>Book as an Application</li>
                             </ul>
                     </div>-->
                    <div class="col-md-12">
                        <h3>eBook Conversion</h3>
                        <p>Dominating the marketplace by innovation and quality, MAP Systems has emerged and kept on evolving over time to retain itself as one of the most reputed names in the domain of eBook conversion and formatting services.</p>
                        <p>Furnished with broad experience of working for diverse verticals, we continue to provide the best of class solutions aptly suiting your needs. Our experts don’t just simply have the skills of converting different formats to eBooks but we also convert eBook to PDF, word, HTML or to any other format with equal ease. In fact, we have successfully provided our all-embracing professional eBook conversion services for publishers, authors, educational institutions, technology companies, publications, libraries and other entities. </p>

                    </div>
                    <div class="col-md-12" style="background-color:#f8f8f8; padding:1px 0px;">



                        <div class="container" style="margin: 4% 0">

                            <div class="col-md-4 col-sm-4">
                                <div class="servicesinner">
                                    <h3>Experementation Labs</h3>
                                    <div class="panel-body svpadding">
                                        <div class="col-md-3 text-center"><i class="fa fa-cog rotate" aria-hidden="true" style="font-size: 60px"></i></div>
                                        <div class="col-md-9">
                                            <p>Using the outcomes from the Company Analysis, we will put together a plan for the most effective marketing strategy to get the best results for your business.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="servicesinner">
                                    @*<h3><span class="ebooksicon">e</span> - Books Services</h3>*@
                                    <h3>Front-End Development</h3>
                                    <div class="panel-body svpadding">
                                        <div class="col-md-3 text-center"><i class="fa fa-desktop rotate" aria-hidden="true" style="font-size: 60px"></i></div>
                                        <div class="col-md-9">
                                            <p>Using the outcomes from the Company Analysis, we will put together a plan for the most effective marketing strategy to get the best results for your business.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="servicesinner">
                                    <h3>Time-saving Features</h3>
                                    <div class="panel-body svpadding">
                                        <div class="col-md-3 text-center"><i class="fa fa-clock-o rotate" aria-hidden="true" style="font-size: 60px"></i></div>
                                        <div class="col-md-9">
                                            <p>Using the outcomes from the Company Analysis, we will put together a plan for the most effective marketing strategy to get the best results for your business.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12"><h3>Reflowable eBook Conversion</h3></div>
                    <div class="col-md-12">
                        <p><img src="~/img/slider/ebook-series.png" class="img-responsive img-thumbnail" /></p>
                    </div>
                    <div class="col-md-12">
                        <ul class="innerlist k12publishing">
                            <li>Audio and video can be integrated with using any plugin or flash</li>
                            <li>In comparison with ePub, HTML5 technology is easily adaptable across most devices be it PC, Tablets or phones</li>
                            <li>Scalable vector graphics can be used for enhancing image and illustration clarity</li>
                            <li>The level of interactivity is peak high, even buttons for the created animations can be developed</li>
                            <li>Extra functionalities such as Finger Painting, Canvas and Geolocation are availed</li>
                            <li>CSS3 offers options for text shadows, animations, columns apart from providing support for SVC and MathML</li>
                            <li>With interactive features, the limit for expressing ideas vanishes completely</li>

                        </ul>
                    </div>
                    </div>

            </div>
        </div>

    </div>
</section>

