
@{
    ViewBag.Title = "eBookSeries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>eBook Series</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>eBook Series</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="headdingimg">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0">
                <div class="col-md-12 headtitle">
                    <h2> eBook Series</h2>
                </div>
            </div>
        </div>
    </section>*@
<section id="k12publishing" style="padding-bottom:0px;">
    <div class="clearfix"></div>
    <div class="container">
        <div class="row panel-body">
            <div class="col-md-12">
                <div class="panel-body inprdservice">
                    <!--second page design start here-->
                    <div class="container">
                        <div class="col-md-12" style="margin-top:1%;">
                            <blockquote class="quote-card">
                                <p>
                                    With the change in learning dynamics and unprecedented thrust on moving beyond chalk and classroom, schools are going digital.
                                </p>
                            </blockquote>
                        </div>
                        <div class="col-md-12">
                            <p><img src="~/img/slider/ebook-series.png" class="img-responsive img-thumbnail" style="width:100%;" /></p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 k12publishing">
                                <p>With the change in learning dynamics and unprecedented thrust on moving beyond chalk and classroom, schools are going digital. To meet this transformation Prachi India has come out with a series of digital products coupled with modern technologies aimed at enriching the learning.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div id="table-container" class="bs-example table-responsive">

                                <table id="maintable" class="table table-bordered" style="width:100%;">
                                    <thead>
                                        <tr class="subjecttablehead" style="background-color:#2d3e50;">
                                            <th>S.N.</th>
                                            <th>Name&nbsp;of&nbsp;series&nbsp;(class)</th>
                                            <th class="text-center">Board</th>
                                            <th class="text-center">Audio&nbsp;voice&nbsp;over</th>
                                            <th class="text-center">Lesson&nbsp;Plans</th>
                                            <th class="text-center">Work&nbsp;-&nbsp;Sheets</th>
                                            <th class="text-center">Work&nbsp;-&nbsp;Sheets&nbsp;Solutions</th>
                                            <th class="text-center">Book&nbsp;Solutions</th>
                                            <th class="text-center">Test&nbsp;Hour</th>
                                            <th class="text-center">Test&nbsp;Hour&nbsp;Solutions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>English</b></td>
                                        </tr>
                                        <tr>
                                            <td>1.</td>
                                            <td>Edgeways (MCB) 1-8</td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Literature Reader (3-8)</td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Layers of English (1-8)</td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Excellence in English (1-8)</td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>New English Grammar (1-8)</td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>

                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>HINDI &amp; SANSKRIT</b></td>
                                        </tr>
                                        <tr>
                                            <td>6.</td>
                                            <td> भाषा सेतु (1-8) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>7.</td>
                                            <td> भाषा सारथि (1-8)  <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>8.</td>
                                            <td> भाषा अधिगम एवं व्याकरण (1-8)</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr>
                                            <td>9.</td>
                                            <td> Saransh (1-8) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>10.</td>
                                            <td> ICSE Bhasha Sanchay <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> </span></td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>11.</td>
                                            <td> Aao Hindi Seekhain (1-5) </td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr>
                                            <td>12.</td>
                                            <td> मंथन (Sanskrit Text Book) (0-3)</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>13.</td>
                                            <td> Sanskrit Vyakaran (0-3)</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>MATHEMATICS</b></td>
                                        </tr>
                                        <tr>
                                            <td>14.</td>
                                            <td> Excellence in Mathematics (1-8)</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr>
                                            <td>15.</td>
                                            <td> The World of Mathematics </td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>16.</td>
                                            <td> Math Lab (6-10) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>SCIENCE</b></td>
                                        </tr>
                                        <tr>
                                            <td>17.</td>
                                            <td> Science in life today (1-5) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>18.</td>
                                            <td> Science (6-8) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>19.</td>
                                            <td> The World of Science <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>20.</td>
                                            <td> The World of Science Physics <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>21.</td>
                                            <td> The World of Science Chemistry <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>22.</td>
                                            <td> The World of Science Biology <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>23.</td>
                                            <td> Science Lab (6-10) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr>
                                            <td>24.</td>
                                            <td> New Science Lab(6-8) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr>
                                            <td>25.</td>
                                            <td> Science in depth (1-5)</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>26.</td>
                                            <td> Science in depth (6-8) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>27.</td>
                                            <td> A Graded Series of Science (1-8) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>SOCIAL STUDIES</b></td>
                                        </tr>
                                        <tr>
                                            <td>28.</td>
                                            <td> Excellence in Social Study (1-5) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>29.</td>
                                            <td> Social Science (6-8)</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>30.</td>
                                            <td> Themes In Social Studies <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>31.</td>
                                            <td> Themes In Social Studies-History and Civics</td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>32.</td>
                                            <td> Themes In Social Studies-Geography</td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr>
                                            <td>33.</td>
                                            <td> A Graded Series of Social Studies (1-5) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>EVS</b></td>
                                        </tr>
                                        <tr>
                                            <td>34.</td>
                                            <td> Live with Nature (EVS) (0-5) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>

                                        <tr>
                                            <td>35.</td>
                                            <td> Environmental Studies (1-2) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>MORAL EDUCATION</b></td>
                                        </tr>
                                        <tr>
                                            <td>36.</td>
                                            <td> Nectar Drops (Value Education) 1-8</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>

                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>INFORMATION TECHNOLOGY</b></td>
                                        </tr>
                                        <tr>
                                            <td>37.</td>
                                            <td> Browse the World (Computer Edu.) 1-8</td>
                                            <td class="text-center">CBSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                        </tr>
                                        <tr class="danger">
                                            <td colspan="10" class="text-center"><b>ART &amp; CRAFT</b></td>
                                        </tr>
                                        <tr>
                                            <td>38.</td>
                                            <td> Visual Art (1-8) <span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></td>
                                            <td class="text-center">CBSE/ICSE</td>
                                            <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                            <td class="text-center">N/A</td>
                                        </tr>
                                        <tr class="success">
                                            <td colspan="10" class="text-left"><span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> </span> Book solutions for Bhasha Sanchay class 1 and 2 not available</td>
                                        </tr>
                                        <tr class="success">
                                            <td colspan="10" class="text-left"><span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> </span> Book solutions for Bhasha Sarthi class1 and 2 not available</td>
                                        </tr>
                                        <tr class="success">
                                            <td colspan="10" class="text-left"><span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> </span> Book solutions for ICSE Mathematics class 1 to 5 not available</td>
                                        </tr>
                                        <tr class="success">
                                            <td colspan="10" class="text-left"><span class="bookstar"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span> Animation Available</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="bottom_anchor"></div>
                            </div>

                        </div>
                    </div>
                    <!--second page design end here-->



                </div>

            </div>
        </div>

    </div>
</section>
@section scripts{
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: '16%'
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ visibility: 'visible' });
                    }
                } else {
                    $("#clone").remove();
                }
            }
            $(window).scroll(moveScroll);






            $('#booksdetails').DataTable(
                {
                    "ordering": false,
                    "info": false
                });
            $('#booksdetails_length').hide();
            $('#booksdetails_filter').hide();
           });
    </script>
    <style>
        .headtitle {
            box-shadow: none;
        }

            .headtitle h2 {
                color: #ffffff;
                border-right: none;
                float: none;
                padding-right: 0;
            }

        .block-parallax-1 {
            overflow: hidden;
            position: relative;
        }

            .block-parallax-1 .parallax-bg {
                background-attachment: fixed;
                background-image: url('../img/slider/k12publishingimg.png');
                background-position: 0px 0px;
                background-repeat: repeat;
                height: 60%;
                position: absolute;
                width: 100%;
                min-width: 1170px;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                background-size: 100%;
                opacity: 0.3;
            }

            .block-parallax-1 .md-box {
                padding: 26px 0;
                background: rgba(0,57,68, 0.9);
                position: relative;
                height: 100%;
                text-align: center;
            }

                .block-parallax-1 .md-box h1 {
                    color: #fff;
                }

        .innerbradcrum > li {
            display: inline-block;
            float: none;
        }
    </style>
}

