
@{
    ViewBag.Title = "FutureTrack";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}

<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>Future Track</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Future Track</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding-bottom:10px">
    <div class="clearfix"></div>
    <div class="container">
        <div class="row panel-body">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel-body inprdservice">
                    <!--second page design start here-->
                    <div class="container">
                        @*<div class="col-md-12" style="margin-top:1%;">
                            <blockquote class="quote-card">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </blockquote>
                        </div>*@
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="col-md-12 serviceshead">
                                        <h2>Our Books</h2>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/FutureTrack-(Science)-X-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Science">Science</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#FutureTrack-science">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/FutureTrack-(Mathematics)-X-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Mathematics">Mathematics</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#FutureTrack-Mathematics">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/FutureTrack-(SST)-X-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Social Science">Social Science</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#FutureTrack-sst">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/FutureTrack-(Hindi)-X-A-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Hindi (A)">Hindi (A)</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#FutureTrack-hindi-a">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/FutureTrack-(Hindi)-X-A-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Hindi (B)">Hindi (B)</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#FutureTrack-hindi-b">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                               


                            </div>
                        </div>
                        <div class="clearfix"></div>
                        @*<div class="panel-body">
                            <div class="col-md-12 k12publishing">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>*@
                        
                    </div>
                    <!--second page design end here-->
                </div>
            </div>
        </div>
    </div>
</section>






@section scripts{
<script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
               });
</script>
    <style>
        .modal-lg {
            width: 70%;
        }

       .close {
    font-size: 28px;
    top: 15px;
}
    </style>

}
<div class="modal fade" id="FutureTrack-science" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Science</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="panel-body  pull-right">
                        <img src="~/img/slider/books/new_arrival/new/FutureTrack-(Science)-X-F.png" class="img-responsive img-thumbnail" />
                    </div>
                </div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="FutureTrack-Mathematics" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Mathematics</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="panel-body">
                        <img src="/img/slider/books/new_arrival/new/FutureTrack-(Mathematics)-X-F.png" class="img-responsive img-thumbnail">
                    </div>
                </div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li><b>‘Note’</b> is provided to highlight any important aspect of the chapter for the students during the introduction.</li>
                            <li><b>‘Working Rules’</b> have been provided for student’s reference, so they may not deviate from it.</li>
                            <li>Includes <b>‘Topic Wise’</b> question format as that helps the students revise in a segmented way and doesn’t overburden them with the full scope of the chapter in one go.</li>
                            <li>Book Includes numerous <b>’Solved questions’</b> for revision and explanation of the students.</li>
                            <li>Complete <b>‘NCERT Exercises’</b> are included in solved manner for students support and practice.</li>
                            <li>Each chapter ends with a <b>‘Evaluate Yourself’</b> for chapter summary and for better student’s understanding of concept.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter. </li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams</li>
                        </ol>
                    </div>
                </div>

                

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="FutureTrack-sst" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Social Science</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/FutureTrack-(SST)-X-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>All the chapter included, consist of a <b>‘Flow Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li><b>‘Important Dates’</b> are included separately for ready reference of the students. </li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>Extensive maps have been used throughout the book, so to help ease the navigation and search for these maps a <b>‘List of Maps’</b> has been given separately.</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="FutureTrack-hindi-a" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Hindi (A)</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/FutureTrack-(Hindi)-X-A-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book has been divided into four segments as per the division of syllabus:
                                <ul>
                                    <li>Comprehension – Unseen passage and prose</li>
                                    <li>Grammar (Vyakran)</li>
                                    <li>Books (different for course a and course b)</li>
                                    <li>Writing Skills</li>
                                </ul>
                            </li>
                            <li>In 1<sup>st</sup> segment we have extensive examples with multiple question for extensive practice and revision for students.</li>
                            <li>In Grammar portion we have explained the topics with real life examples, also we have provided extensive practice exercises along with Previous year board question related to each topic.</li>
                            <li>In Book’s part we start with author description and a summary of the lesson. Then we have multiple Q/A, Solved NCERT Textbook, Important Questions and Previous year board questions along with each chapter.</li>
                            <li>In the last segment related to writing skills we provide an exhaustive number of examples along with each writing style and multiple exercises are given for practice. </li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="FutureTrack-hindi-b" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Hindi (B)</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/FutureTrack-(Hindi)-X-B-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book has been divided into four segments as per the division of syllabus:
                                <ul>
                                    <li>Comprehension – Unseen passage and prose</li>
                                    <li>Grammar (Vyakran)</li>
                                    <li>Books (different for course a and course b)</li>
                                    <li>Writing Skills</li>
                                </ul>
                            </li>
                            <li>In 1<sup>st</sup> segment we have extensive examples with multiple question for extensive practice and revision for students.</li>
                            <li>In Grammar portion we have explained the topics with real life examples, also we have provided extensive practice exercises along with Previous year board question related to each topic.</li>
                            <li>In Book’s part we start with author description and a summary of the lesson. Then we have multiple Q/A, Solved NCERT Textbook, Important Questions and Previous year board questions along with each chapter.</li>
                            <li>In the last segment related to writing skills we provide an exhaustive number of examples along with each writing style and multiple exercises are given for practice. </li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

