
@{
    ViewBag.Title = "HaryanaBoard";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>Haryana Board</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Haryana Board</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding-bottom:10px">
    <div class="clearfix"></div>
    <div class="container">
        <div class="row panel-body">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel-body inprdservice">
                    <!--second page design start here-->
                    <div class="container">
                        @*<div class="col-md-12" style="margin-top:1%;">
                            <blockquote class="quote-card">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </blockquote>
                        </div>*@
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="col-md-12 serviceshead">
                                        <h2>Our Books</h2>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/Haryana-Board-X-English-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="English">English</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#X-english">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/Haryana-Board-X-Ganit-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Ganit">Ganit</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#X-ganit">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/Haryana-Board-X-Hindi-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Hindi">Hindi</h3>
                                                <p><b>Class :</b> 10<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#X-hindi">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/Haryana-Board-Accountancy-(H)-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Accountancy">Accountancy</h3>
                                                <p><b>Class :</b> 11<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#XI-accountancy">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/Haryana-Board-XII-Chemistry-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Chemistry">Chemistry</h3>
                                                <p><b>Class :</b> 12<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#XII-chemistry">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/Haryana-Board-XII-English-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="English">English</h3>
                                                <p><b>Class :</b> 12<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#XII-english">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="newarivalstab">
                                        <div class="panel-body">
                                            <div class="col-md-12 text-center"><img class="img-responsive img-thumbnail" style="border:none;" alt="learntocount" src="~/img/slider/books/new_arrival/new/Haryana-Board-XII-Hindi-F.png" /></div>
                                            <div class="col-md-12 text-center booktitle">
                                                <h3 data-toggle="tooltip" class="tip-top" title="" data-original-title="Hindi">Hindi</h3>
                                                <p><b>Class :</b> 12<sup>th</sup></p>
                                                <p><span class="newarv_btn" data-toggle="modal" data-target="#XII-hindi">Read More <i class="fa fa-angle-right"></i></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                               
                                
                                
                                
                               
                                
                               
                                
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        @*<div class="panel-body">
                            <div class="col-md-12 k12publishing">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                        </div>*@
                    </div>
                    <!--second page design end here-->
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
               });
</script>
    <style>
         .modal-lg {
    width: 70%;
}
      .close {
    font-size: 28px;
    top: 15px;
}
    </style>

}
<div class="modal fade" id="X-english" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">ENGLISH</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/Haryana-Board-X-English-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="X-ganit" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">GANIT</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/Haryana-Board-X-Ganit-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="X-hindi" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">HINDI</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/Haryana-Board-X-Hindi-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 10<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="XI-accountancy" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Accountancy</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/Haryana-Board-Accountancy-(H)-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 11<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="XII-chemistry" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Chemistry</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/Haryana-Board-XII-Chemistry-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 12<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="XII-english" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">ENGLISH</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/Haryana-Board-XII-English-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 12<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="XII-hindi" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding:0 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Hindi</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><img src="~/img/slider/books/new_arrival/new/Haryana-Board-XII-Hindi-F.png" class="img-responsive img-thumbnail" /></div>
                <div class="col-md-8">
                    <p><b>Class :</b> 12<sup>th</sup></p>
                    <div class="panel-body" style="background-color:#f6fbfe;">
                        <ol>
                            <li>Each chapter has <b>‘Chapter At A Glance’</b> which gives an insight to the student into the chapter and acts as a quick reinforcement/ recapitulation for them.</li>
                            <li>All the chapter consist of a <b>‘Concept Chart’</b> which helps in visualising the whole chapter in one go and helps create relations between the knowledge of the students.</li>
                            <li>The book is in accordance to the <b>‘Syllabus’</b> prescribed by NCERT</li>
                            <li>
                                The book covers all three formats of NCERT questions:
                                <ul>
                                    <li>NCERT <b>In-Text</b> Questions</li>
                                    <li>NCERT <b>Chapter End</b> Questions</li>
                                    <li>NCERT <b>EXEMPLAR</b> Questions (from NCERT Exemplar question bank)</li>
                                </ul>
                            </li>
                            <li><b>‘Previous Year Board Questions’</b> and <b>‘Important Questions’</b> are given for extensive practice for students.</li>
                            <li>Book includes <b>‘Practical Based Questions’</b> for better conceptualization and understanding of the topics.</li>
                            <li>Each chapter ends with a <b>‘Self Evaluation Paper’</b> for revision after each chapter.</li>
                            <li>Latest <b>2018 CBSE Board exam paper</b> has been given in a solved manner with the latest questions.</li>
                            <li>Book includes <b>‘Model Test Paper’</b> at the end of the book as per the marking scheme prescribed by NCERT for final preparation towards board exams.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>