
@{
    ViewBag.Title = "K-12Publishing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
@*<section class="headdingimg">
       <div class="container">
            <div class="panel-body" style="padding-bottom: 0">
                <div class="col-md-12 headtitle">
                    <h2> K-12 Publishing</h2>
                </div>

            </div>
        </div>
    </section>*@
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>K-12 Publishing</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>K-12 Publishing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="k12publishing" style="padding-bottom:10px">
    <div class="clearfix"></div>
    <div class="container">
        <div class="row panel-body">
            <div class="col-md-12">
                <div class="panel-body inprdservice">
                    <!--second page design start here-->
                    <div class="container">

                        <div class="col-md-12" style="margin-top:1%;">
                            <blockquote class="quote-card">
                                <p>
                                    Our K-12 publishing segment believes in driving innovation and advancing the quality of education by delivering state-of-the-art, digital learning platforms and technology to students and school in all districts across the globe.
                                </p>
                            </blockquote>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center"><img src="~/img/slider/k12publishingimg.png" class="img-responsive img-thumbnail" /></p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 k12publishing">
                                <p>Our K-12 publishing segment believes in driving innovation and advancing the quality of education by delivering state-of-the-art, digital learning platforms and technology to students and school in all districts across the globe. Our mission has remained steadfast: To put students first and maximize their potential to learn and achieve. At Prachi, we have an unwavering commitment to our students academic achievement. Our educators and dedicated staff have a passion to ensure that all children have the opportunity achieve their academic goals, and that is foremost in everything we do. We strive to serve every School regardless of their geographic, socioeconomic, or academic circumstance. We continue to refine and improve our academic programs and instructional models, and we provide our teachers with the tools and resources they need to put students first and maximize their potential.</p>
                                <p>With our aim to serve different state boards and expansion in regional market we  have come up with Bangla medium books from introductory level till class IV ,looking forward to publish books for more state boards in coming years.</p>
                            </div>
                        </div>
                    </div>
                    <!--second page design end here-->
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <style>
        .headtitle {
            box-shadow: none;
        }

            .headtitle h2 {
                color: #ffffff;
                border-right: none;
                float: none;
                padding-right: 0;
            }

        .block-parallax-1 {
            overflow: hidden;
            position: relative;
        }

            .block-parallax-1 .parallax-bg {
                background-attachment: fixed;
                background-image: url('../img/slider/k12publishingimg.png');
                background-position: 0px 0px;
                background-repeat: repeat;
                height: 60%;
                position: absolute;
                width: 100%;
                min-width: 1170px;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                background-size: 100%;
                opacity: 0.3;
            }

            .block-parallax-1 .md-box {
                padding: 26px 0;
                background: rgba(0,57,68, 0.9);
                position: relative;
                height: 100%;
                text-align: center;
            }

                .block-parallax-1 .md-box h1 {
                    color: #fff;
                }

        .innerbradcrum > li {
            display: inline-block;
            float: none;
        }
    </style>

}


