
@{
    ViewBag.Title = "Prachi Group - Educational Books Publishers India";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
@*<section class="headdingimg">
    <p><img src="~/img/slider/news-events.png" /></p>
         <div class="container">
             <div class="panel-body" style="padding-bottom: 0">
                 <div class="col-md-12 headtitle">
                     <h2>New &amp; Events</h2>
                 </div>
             </div>
         </div>
     </section>*@
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle">
                    <h2>News &amp; Events</h2>
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>News &amp; Events</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="" style="padding-bottom:10px">
    <div class="clearfix"></div>
    <div class="container">
        <div class="row panel-body">
            <div class="col-md-12">
                <div class="panel-body inprdservice">
                    <div class="container">
                        <div class="col-md-12" style="margin-top:1%;">
                            <blockquote class="quote-card">
                                <p>
                                    Prachi publication serves teachers and students by providing a wholly blended- learning environment by combining class room and digital learning. By utilizing the available channels from print textbooks to interactive learning makes the course more exciting, sleek and personalized.
                                </p>
                            </blockquote>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="container">
                        <div class="col-md-12 serviceshead">
                            <h2>Product launch</h2>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 k12publishing">
                                    <p>Amid the presence of Principals, teachers and dignitaries, a formal product launch of Readedge was held on 9-10 December 2014, at Indian habitat center in New Delhi.</p>
                                    <p>Mr. Raja Ram Sharma, Joint Director NCERT, graced the launch as chief guest while Mr. Malik, Chairman of Lovely Public schools, Delhi shared the dais. Samsung as our hardware partner was represented by Mr. S. K. Kim, VP Samsung South East Asia, Mr. Luis Kim VP Samsung India and Mr. Sukesh Jain, Samsung India with others. Subjects' tableaux were the main attraction as the teachers came in numbers to learn different attributes and how it could be an effective aid to their teaching. The fact that it runs on all the latest configurations and devices was highly appreciated. It rose to prominence by getting adequate space in all major dailies</p>
                                </div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/PL 1.png" class="img-responsive" alt="newsevents"></div></div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/PL II IMG 1.png" class="img-responsive" alt="newsevents"></div></div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/PL IMG 3.png" class="img-responsive" alt="newsevents"></div></div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/PL II IMG 2.png" class="img-responsive" alt="newsevents"></div></div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/PL IMG 2.png" class="img-responsive" alt="newsevents"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-12 serviceshead">
                            <h2>Employee empowerment campaign</h2>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 k12publishing">
                                    <p>Employee Empowerment campaign is a perfect platform to bring together our prestigious management, and our hardworking employees in order to discuss the latest movements in field of education which leads to better skilling, empowering and motivation that eventually prepares them for upcoming challenges so that they excel for betterment of their future and growth of the company.</p>
                                </div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/l13.png" class="img-responsive" alt="newsevents"></div></div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/l14.png" class="img-responsive" alt="newsevents"></div></div>
                                <div class="col-md-3"><div class="imgiffect"><img src="~/img/newsevents/l12.png" class="img-responsive" alt="newsevents"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-12 serviceshead">
                            <h2>Rewards and Recognition</h2>
                        </div>
                    </div>
                    <div class="panel-body">


                        <div class="col-md-12">
                            <ul class="tabs">
                                <li class="tab-link current" data-tab="tab-1">Manali (2013)</li>
                                <li class="tab-link" data-tab="tab-2">Bhimtal (2014)</li>
                                <li class="tab-link" data-tab="tab-3">Jim Corbett (2015)</li>
                                <li class="tab-link" data-tab="tab-4">Jaipur (2016)</li>
                            </ul>
                        </div>
                        <div style="display:none;">
                            <div id="ninja-slider">
                                <div class="slider-inner">
                                    <ul>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2013/Manali3.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2013/rr_2013.png"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2013/manaliresort.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2014/bheem_tal_1.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2014/bheem_tal_2.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2014/bheem_tal_3.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2014/rr_2014.png"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2015/event2015-1.JPG"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2015/event2015-2.JPG"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2015/event2015-4.JPG"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2015/event2015-5.JPG"></a>
                                        </li>

                                        <li>
                                            <a class="ns-img" href="~/img/events/2015/event2015-6.JPG"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2015/event2015-7.JPG"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2015/rr_2015.png"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2016/2016_1.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2016/2016_5.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2016/2016_6.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2016/2016_7.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2016/2016_8.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2016/2016_18.jpg"></a>
                                        </li>
                                        <li>
                                            <a class="ns-img" href="~/img/events/2016/chokhi_dhani.jpg"></a>
                                        </li>
                                    </ul>
                                    <div id="fsBtn" class="fs-icon" title="Expand/Close"></div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery">
                            <div id="tab-1" class="tab-content current" style="border:none;">
                                <div class="col-md-12">
                                    <div class="panel-body inprdservice">
                                        <div class="col-md-12 inprdservicehead">
                                            <h4>Manali (2013)</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2013/Manali3.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(0)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2013/rr_2013.png" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(1)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2013/manaliresort.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(2)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-content" style="border: none;">
                                <div class="col-md-12">
                                    <div class="panel-body inprdservice">
                                        <div class="col-md-12 inprdservicehead">
                                            <h4>Bhimtal (2014)</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2014/bheem_tal_1.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(3)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2014/bheem_tal_2.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(4)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2014/bheem_tal_3.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(5)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2014/rr_2014.png" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(6)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-content" style="border: none;">
                                <div class="col-md-12">
                                    <div class="panel-body inprdservice">
                                        <div class="col-md-12 inprdservicehead">
                                            <h4>Jim Corbett (2015)</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2015/event2015-1.JPG" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(7)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2015/event2015-2.JPG" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(8)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2015/event2015-4.JPG" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(9)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2015/event2015-5.JPG" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(10)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2015/event2015-6.JPG" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(11)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2015/event2015-7.JPG" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(12)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2015/rr_2015.png" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(13)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-content" style="border: none;">
                                <div class="col-md-12">
                                    <div class="panel-body inprdservice">
                                        <div class="col-md-12 inprdservicehead">
                                            <h4>Jaipur (2016)</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2016/2016_1.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(14)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2016/2016_5.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(15)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2016/2016_6.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(16)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2016/2016_7.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(17)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2016/2016_8.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(18)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2016/2016_18.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(19)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                            <div class="col-md-3"><div class="imgiffect view view-first"><img src="~/img/events/2016/chokhi_dhani.jpg" class="img-responsive" alt="events"><div class="mask" onclick="lightbox(20)"><i class="fa fa-eye" aria-hidden="true"></i></div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
   <link href="~/Content/css/product/style_common.css" rel="stylesheet" />
<link href="~/Content/js/imgslider/ninja-slider.css" rel="stylesheet" />
<script src="~/Content/js/imgslider/ninja-slider.js"></script>
<script type="text/javascript">
        function lightbox(idx) {
            var ninjaSldr = document.getElementById("ninja-slider");
            ninjaSldr.parentNode.style.display = "block";

            nslider.init(idx);

            var fsBtn = document.getElementById("fsBtn");
            fsBtn.click();
        }

        function fsIconClick(isFullscreen, ninjaSldr) {
            if (isFullscreen) {
                ninjaSldr.parentNode.style.display = "none";
            }
        }
        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });
</script>
<style>
    .fa-eye {
        padding-top: 31%;
        font-size: 34px;
        color: #00659c;
    }

    .mask {
        cursor: pointer;
    }

    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 0px;
        }

            ul.tabs li.current {
                background: #ededed;
                color: #222;
            }

    .tab-content {
        display: none;
        background: #ffffff;
        padding: 15px;
        border: solid 1px #e2e2e2;
    }

        .tab-content.current {
            display: inherit;
        }
</style>





}