
@{
    ViewBag.Title = "PrintingServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="headdingimg">
    @*<p><img src="~/img/slider/head-sample.png" /></p>*@
    <div class="container">
        <div class="panel-body" style="padding-bottom: 0">
            <div class="col-md-12 headtitle">
                <h2>Services</h2>
            </div>
        </div>
    </div>
</section>
<section id="Printing" class="">
    <div class="clearfix"></div>
    <div class="container">
        <div class="panel-body row">
            <div class="col-md-9">
            <div class="col-md-12" style="margin-bottom:1%;">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>Digitization Services</b></p>
                    </div>
                    <div class="col-md-5"><p><img src="~/img/slider/digitization-service.png" class="img-responsive img-thumbnail" /></p></div>
                    <div class="col-md-7">
                        <p>We extend the definition of digital services service and create excellence in every field of operation. Our digital services sector represents a dynamic knowledge driven organization dedicated to provide world class solutions to its clients across industry.</p>
                        <p>We are a people oriented company and invest heavily in our human capital to develop talent pool and deliver unmatched service quality to our clients.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:1%;">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>Printing Services</b></p>
                    </div>
                    
                    <div class="col-md-7">
                        <p>A design, customized printing and timely delivery are what an extended publication house should excel in. We give you all from a small edit in an artwork to entire revamp of the design be it a calendar, catalogue, Product brochure ,Services based brochures, books, novels, yearly diaries or a full website.Prachi publications with its own very printing press  is a renowned name in holistic print production offering high end results in different types of printing solutions.</p>
                        <p>Our Printing solutions services are highly appreciated for flexible approach, creative designs, printing quality, timely execution and cost effectiveness. Further, in order to attain the maximum satisfaction of our customers, we provide customize facility as per their specifications.</p>
                    </div>
                    <div class="col-md-5"><p><img src="~/img/slider/printing.png" class="img-responsive img-thumbnail" /></p></div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:1%;">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>Conversion Services</b></p>
                    </div>
                    <div class="col-md-5"><p><img src="~/img/slider/conversion.png" class="img-responsive img-thumbnail" /></p></div>
                    <div class="col-md-7">
                        <p>We focus on content transformation services. The versatile business portfolio of Prachi group is developed with core focus on providing best quality publishing solutions in the versatile content conversion arena, legal processes and world class web and IT services.</p>
                        <p>Our business verticals have aligned themselves in perfect coordination to create end to end solutions for our customers.</p>
                       
                        </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <p><b>Our range of solution includes on-site/off-site services:-</b></p>
                    </div>
                    <div class="col-md-6">

                        <ul>
                            <li>e-Governance Solutions</li>
                            <li>Digital Library Solutions</li>
                            <li>Data Conversion (XML, HTML, PDF/A, DOC, IMG)</li>
                            <li>Newspaper Digitization (Mets/Alto Output)</li>
                            <li>Publishing Services Solution</li>
                            <li>Imaging and Indexing for archival System</li>
                            <li>eBook Publishing</li>
                            <li>Forms Processing</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>

                            <li>e-Pub Creations</li>
                            <li>Content Management</li>
                            <li>High Resolution Scanning</li>
                            <li>Data Capturing</li>
                            <li>OCR &amp; OCR Clean Up</li>
                            <li>NIMAS Conversion</li>
                            <li>Video editing</li>
                            <li>Microfilming</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:1%;">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>eBook Services</b></p>
                    </div>
                    
                    <div class="col-md-7">
                        <p>We brings more than 20 years of Publishing  expertise and experience to create, enhance, distribute, protect and manage your valuable content data and information assets. We provide end-to-end content related technological solutions, services and products for Education, Publishing and Content Repositories.</p>
                        <ul>
                            <li>eBook development</li>
                            <li>eBook Production</li>
                            <li>Conversion in All Formats</li>
                            <li>Book as an Application</li>
                        </ul>    
                    </div>
                    <div class="col-md-5"><p><img src="~/img/slider/ebook-service.png" class="img-responsive img-thumbnail" /></p></div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:1%;">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>Multimedia Services</b></p>
                    </div>
                    <div class="col-md-5"><p><img src="~/img/slider/multimedia-service.png" class="img-responsive img-thumbnail" /></p></div>
                    <div class="col-md-7">
                        <p>We develop animated content for eBooks which can be in form of modules or an application. We deal computer based training modules with instruction and user guides, Animated projects with content linked videos and storyboard designing. Combining video with voice and text applications to create multimedia services is an important development in the worldwide communications marketplace. Flash based animations for subject based practical approach</p>
                        </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:1%;">
                <div class="panel-body inprdservice">
                    <div class="col-md-12 inprdservicehead">
                        <p><b>Digital Rights Management</b></p>
                    </div>
                    
                    <div class="col-md-7">
                        <p>Digital rights management (DRM) is a class of copy protection technologies that are used by hardware and software manufacturers, publishers, copyright holders, and individuals with the intent to control the use of digital content and devices after sale; there are, however, many competing definitions.</p>
                        <p>What we provide for the same is a scheme that controls access to copyrighted material using technological means. It may refer to the usage of proprietary software, hardware, or any type of content: music tracks, video files, ebooks, games, DVD movies, emails, documents, etc.</p>
                        <p>Client- Publications Division, Ministry of Information and Broadcasting</p>
                        <h3>Clientele</h3>
                        <p>With successful establishment of our in-house e-Publishing, Digitization facility for internal use, we have now ventured into services of Digitization, DMS, eBooks, e-Apps, and full cycle digitization services from last 3 years. We (Prachi Group) are currently undertaken and successfully delivering large digitization projects for following Govt. bodies:</p>
                        <ul>
                            <li>DRDO, Centre for Personnel Talent Management (CEPTAM),</li>
                            <li>DRDO, Defence Scientific Information &amp; Documentation Centre (DESIDOC)</li>
                            <li>DRDO, Institute of Nuclear Medicine and Applied Sciences (INMAS)</li>
                            <li>DRDO, Proof &amp; Experimental Establishment (PXE)</li>
                            <li>Cabinet Secretariat (Rashtrapati Bhawan)</li>
                            <li>Central Public Works Department</li>
                            <li>CEPTAM (PRINTING)</li>
                            <li>Publication Division, Ministry of Information and Broadcasting, Govt. of India (New Delhi)</li>
                            <li>EMPLOYMENT NEWS, Ministry of Information and Broadcasting, Govt. of India (New Delhi)</li>
                            <li>Indian Institute of Advance Studies (IIAS), Shimla</li>
                        </ul>
                    </div>
                    <div class="col-md-5"><p><img src="~/img/slider/drm-services.png" class="img-responsive img-thumbnail" /></p></div>
                </div>
            </div>
        </div>
            <div class="col-md-3">
                <div class="col-md-12" style="margin-bottom:1%; border:solid 1px #cccccc">
                    <div class="panel-body">
                        <h3>Admin office</h3>
                        <p><b>Prachi [India] Pvt. Ltd.</b></p>
                        <p><i class="fa fa-home"></i> 309/10, ALLIED HOUSE, INDER LOK, DELHI-110035</p>
                        <p><i class="fa fa-phone"></i> 011-47320666 (8 Lines)</p>
                        <p><i class="fa fa-fax"></i> 011-43852438, 47320680</p>
                        <p><i class="fa fa-globe"></i> <a href="http://prachiindia.com/" target="_blank">www.prachiindia.com</a></p>
                    </div>
                </div>
                </div>
            
        </div>
    </div>
</section>

