
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>Products</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" style="padding-bottom:10px">
    <div class="container">

        <div class="clearfix"></div>
        <div class="panel-body">
            <div id="leftmenu" class="col-md-3" style="padding:0px; border-right: 0;">
                <ul class="nav nav-tabs tabs-left h4" style="height: 100%; border-right: 1px solid silver;">
                    <li class="active"><a data-toggle="tab" href="#productsintro" aria-expanded="false"><span class="fa fa-book"></span> Products</a></li>
                    <li class=""><a data-toggle="tab" href="#ReadEdge" aria-expanded="false"><span class="fa fa-book"></span> Readedge</a></li>
                    <li class=""><a data-toggle="tab" href="#Test-Hour" aria-expanded="true"><span class="fa fa-book"></span> Test Hour</a></li>
                </ul>
            </div>
            <div class="col-md-9" style="padding: 0;">
                <div class="panel-body" style="border:solid 1px #dfdfdf;">
                    <div class="tab-content">
                        <div id="productsintro" class="tab-pane fade active in">
                            <div class="panel-body inprdservice" style="margin-bottom: 2%;">
                                <div class="col-md-12 inprdservicehead">
                                    <h4>Products</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6"><img src="~/img/our-products.png" class="img-responsive img-thumbnail" />
                                    </div>
                                    <div class="col-md-6">
                                        <p>To complement our books further we have launched an offline eBook application which caters to our digital content by the name Readedge, a multi device and platform independent app which is a complete package of tools necessary for dynamic teaching experience and thus developing an interactive and innovative learning.</p>
                                        <p>Extending our eBook app we have introduced a test paper making offline app Test Hour with largest question bank differentiated in categories to develop a competitive and engaging environment.</p>
                                        <p>This process of reaching out to our prestigious clientele that is our schools starts with four major steps </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="padding:10px 0"><hr /></div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li>On calls for our expert for onsite presentation and demonstration by our marketing experts to give you an idea on how the whole concept our eBooks work.</li>
                                            <li>
                                                We have different delivery modes and methods for reaching out and delivering our ebook, which includes :
                                                <ul>
                                                    <li>Providing smart class hardware provided by our hardware partners and downloading our eBook app by offline or online mode.</li>
                                                    <li>We can install this app and its content as per your order in your existing hardware via SD Card or pen drive. All installations will be assisted by our technical experts.</li>
                                                </ul>
                                            </li>
                                            <li>We ensure time to time updating of our application to keep it in sync with changing technology and we also provide continuous assistance and support.</li>
                                            <li>Post installation training for better product knowledge and on demand training workshops for students and teachers can be scheduled.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div id="ReadEdge" class="tab-pane fade">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead">
                                    <h4>Readedge</h4>
                                </div>
                                <div class="col-md-6">
                                    <p><img src="~/img/Readedge.png" border="0" alt="" class="img-responsive img-thumbnail"></p>

                                    <p class="text-center"><a href="@Url.Action("Index","UserSubscription")" class="btn btn-primary">Subscribe Readedge</a></p>
                                </div>
                                <div class="col-md-6">
                                    <p>A digitized mechanism which enables an ecosystem of active learning environment with effective blend of innovative classroom teaching. Read edge caters to “EVERYTHING YOU NEED ON TOP OF BOOK IN ONE PLACE”, which is intellectually built and bundled in a powerful eBook based solution.</p>
                                    <p><b>Features: </b></p>
                                    <ul>
                                        <li>Audio enabled eBooks with voice modulation to make classroom teaching engaging.</li>
                                        <li>Comprehensive Lesson Plan designed by prominent authors.</li>
                                        <li>Ingenious Worksheets with objectives that allows students to 'learn by doing'.</li>
                                        <li>Integrated and printable Solutions of books with their respective worksheets.</li>
                                        <li>Interactive Videos to connect textbook concepts to real life.</li>
                                    </ul>
                                    <p><b>LESSON PLAN-</b> A strategic approach to guide teachers for exhaustive completion of chapters. </p>
                                    <p><b>WORKSHEET-</b> Actively evaluates students through our ready to use printable worksheets. </p>
                                    <p><b>SOLUTIONS-</b> Integrated access to book questions and worksheet questions in a printable format. </p>
                                </div>
                            </div>
                        </div>
                        <div id="Test-Hour" class="tab-pane fade">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead">
                                    <h4>Test Hour</h4>
                                </div>
                                <div class="col-md-6">
                                    <p><img src="~/img/Test-Hour.png" border="0" alt="" class="img-responsive img-thumbnail"></p>
                                </div>
                                <div class="col-md-6">
                                    @*<p>A perfect example of innovation and intuition; The Test edge is crisply designed to address your entire question paper making woes. No worries about your system and device compatibility as It works on all latest configuration. It gives you the liberty to select, categorize and edit questions from the pool of questions while giving ample space to analyse the previously made papers. Remember print is just a click away.</p>*@
                                    <p>A perfect example of innovation and intuition; Test hour is crisply designed to address your entire question paper making woes. No worries about your system and device compatibility as It works on all latest configuration. It gives you the liberty to select, categorize and edit questions from the pool of questions while giving ample space to analyses the previously made papers. Remember print is just a click away.</p>
                                    <ul>
                                        <li>Save your time-Teach Better Test quick</li>
                                        <li>User Friendly</li>
                                        <li>Easily accessible </li>
                                        <li>Explicit content</li>
                                        <li>Engaging</li>
                                        <li>Question categorization, selection and editing made easier.</li>
                                        <li>Maintains Your yearly record for question papers</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#booksmodal").modal();
            });
        });
    </script>

}
