
@{
    ViewBag.Title = "Prachi Group - Educational Books Publishers India";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="headdingimg">
    @*<p><img src="~/img/slider/publishing-head.png" /></p>*@
    <div class="container">
        <div class="panel-body" style="padding-bottom: 0">
            <div class="col-md-12 headtitle">
                <h2>Publishing</h2>
            </div>
        </div>
    </div>
</section>
<section id="about" class="">
    <div class="container">
        
        <div class="clearfix"></div>
        <div class="panel-body">
            <div id="leftmenu" class="col-md-3" style="padding:0px; background-color: #3188cd;">

                <ul class="nav nav-tabs tabs-left h4" style="height: 100%; border-right: 1px solid silver;">
                    <li class="active"><a data-toggle="tab" href="#publishingintro" aria-expanded="false"><span class="fa fa-book"></span> Publishing</a></li>
                    <li class=""><a data-toggle="tab" href="#K12Series" aria-expanded="false"><span class="fa fa-book"></span> K-12 Publishing</a></li>
                    <li class=""><a data-toggle="tab" href="#ebooks" aria-expanded="false"><span class="fa fa-book"></span> eBook Series</a></li>
                    
                </ul>
            </div>
            <div class="col-md-9" style="padding: 0;">
                <div class="panel-body" style="border:solid 1px #dfdfdf;">
                    <div class="tab-content">
                        <div id="publishingintro" class="tab-pane fade active in">
                            <div class="panel-body" style="padding:0px;">
                                <div class="col-md-6"><img src="~/img/slider/publishing.png" class="img-responsive img-thumbnail" /></div>
                                <div class="col-md-6">
                                    <p>We at Prachi provide Learning resources, courseware, and services to improve education's effectiveness and inspire everyone to go further. Taking Publishing field consistently at the forefront of innovation and technological advancement that also uses digital technology to create unique reading experiences and expand the reach of prevailing educational system. Prachi Group serves teachers and students by providing a wholly blended- learning environment by combining class room and digital learning. By utilizing the available channels from print textbooks to interactive learning makes the course more exciting, sleek and personalized.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div id="K12Series" class="tab-pane fade">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead">
                                    <p><b>K-12 Publishing</b></p>

                                </div>
                                
                                <div class="col-md-6">
                                    <img src="~/img/slider/ktwiele.png" class="img-responsive img-thumbnail">
                                </div>
                                <div class="col-md-6">
                                    @*<p>Our publication has grown rapidly since its inception in 1996.We have textbooks catering to both CBSE and ICSE syllabi in all subjects from the kindergarten to the eighth standard. Our books are output of extensively researched with feedback from subject experts and reviews from practising school teachers.</p>
                                    <p>K-12 educational solutions instead of k-12 publishing.</p>*@
                                    <p>Our K-12 publishing segment believes in driving innovation and advancing the quality of education by delivering state-of-the-art, digital learning platforms and technology to students and school districts across the globe. Our mission has remained steadfast: To put students first and maximize their potential to learn and achieve. At Prachi, we have an unwavering commitment to our students'academic achievement. Our educators and dedicated staff have a passion to ensure that all children have the opportunity achieve their academic goals, and that is foremost in everything we do. We strive to serve every School regardless of their geographic, socioeconomic, or academic circumstance. We continue to refine and improve our academic programs and instructional models, and we provide our teachers with the tools and resources they need to put students first and maximize their potential.</p>
                                    <p>With our aim to serve different state boards and expansion in regional market we  have come up with Bangla medium books from introductory level till class IV ,looking forward to publish books for more state boards in coming years.</p>
                                </div>

                            </div>
                        </div>
                        <div id="ebooks" class="tab-pane fade">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead">
                                    <p><b>eBook Series</b></p>

                                </div>
                                <div class="col-md-6">
                                    <p><img src="~/img/slider/ebooks-series.png" border="0" alt="" class="img-responsive img-thumbnail"></p>
                                </div>
                                <div class="col-md-6">
                                    <p>With the change in learning dynamics and unprecedented thrust on moving beyond chalk and classroom, schools are going digital. To meet this transformation prachiindia has come out with a series of digital products coupled with modern technologies aimed at enriching the learning.</p>
                                </div>
                                <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <div class="bs-example">
                                            <table id="booksdetails" class="table table-bordered" style="width:100%;">
                                                <thead>
                                                    <tr class="danger">
                                                        <th>Name&nbsp;of&nbsp;series&nbsp;(class)</th>
                                                        <th>Audio&nbsp;voice&nbsp;over</th>
                                                        <th>Lesson&nbsp;Plans</th>
                                                        <th>Work&nbsp;-&nbsp;Sheets</th>
                                                        <th>Solutions</th>
                                                        <th>Test&nbsp;Hour</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr class="success">
                                                        <td>1.भाषा सेतु (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>2. भाषा सारथि (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>3. भाषा अधिगम एवं व्याकरण (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>4. Excellence in Mathematics (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>5. Edgeways (MCB) 1-8</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>6. Literature Reader (3-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>7. Layers of English (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>8. Excellence in English (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>9. Science in life today (1-5)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>10. Science (6-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>11. Excellence in Social Study (1-5) <span class="text-danger">**</span></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>12. Social Science (6-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>13. Live with Nature (EVS) (0-5) <span class="text-danger">**</span></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>14. Nectar Drops (Value Education) 1-8</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>15. Browse the World (Computer Edu.) 1-8</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>16. मंथन (Sanskrit Text Book) (0-3)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>17.Sanskrit Vyakaran (0-3)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>18. La Portes De France (French Text Book) (0-4)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>19. भाषा संचय (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>20. ICSE Science (1-5)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>21. ICSE Physics (T.B) 6-8</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>22. ICSE Chemistry (T.B) 6-8</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>23. ICSE Biology (T.B) 6-8</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>24. ICSE Social Studies (1-5</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>25. ICSE History and Civics (6-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>26. ICSE Geography (6-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>27. ICSE Mathematics (1-8)</td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>28. Math Lab (6-10) <span class="text-danger">**</span></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>29. Science Lab (6-10) <span class="text-danger">**</span></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>30. Visual Art (1-8)<span class="text-danger">**</span></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                        <td class="text-center"><i class="fa fa-check-square-o"></i></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
           
            $('#booksdetails').DataTable(
                {
                    "ordering": false,
                    "info": false
                });
            $('#booksdetails_length').hide();
            $('#booksdetails_filter').hide();
           });
    </script>
}
