
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>Services</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="headdingimg">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0">
                <div class="col-md-12 headtitle">
                    <h2>Services</h2>
                </div>
            </div>
        </div>
    </section>*@
<section id="Printing" style="padding-bottom:10px">
    <div class="clearfix"></div>
    <div class="container">
        <div class="panel-body row">
            <div class="col-md-8">
                <div class="col-md-12" style="margin-bottom:1%;">
                    <div class="panel-body inprdservice">
                        <div class="col-md-12 inprdservicehead">
                            <h4>Digitisation Services</h4>
                        </div>
                        <div class="col-md-5"><p><img src="~/img/slider/digitization-service.png" class="img-responsive img-thumbnail" /></p></div>
                        <div class="col-md-7">
                            <p>We extend the definition of digital services and create excellence in every field of operation. Our digital services sector represents a dynamic knowledge driven organization dedicated to provide world class solutions to its clients across the industry.</p>
                            <p>We are a people oriented company and invest heavily in our human capital to develop talent pool and deliver unmatched service quality to our clients.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:1%;">
                    <div class="panel-body inprdservice">
                        <div class="col-md-12 inprdservicehead">
                            <h4>Printing Services</h4>
                        </div>

                        <div class="col-md-7">
                            <p>A design, customized printing and timely delivery are what an extended publication house should excel in. We give you all from a small edit in an artwork to entire revamp of the design be it a calendar, catalogue, Product brochure, Services based brochures, books, novels, yearly diaries or a full website. Prachi publications with its own very printing press  is a renowned name in holistic print production offering high end results in different types of printing solutions.</p>
                            <p>Our Printing solutions services are highly appreciated for flexible approach, creative designs, printing quality, timely execution and cost effectiveness. Further, in order to attain the maximum satisfaction of our customers, we provide customized facilities as per their specifications.</p>
                        </div>
                        <div class="col-md-5"><p><img src="~/img/slider/printing.png" class="img-responsive img-thumbnail" /></p></div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:1%;">
                    <div class="panel-body inprdservice">
                        <div class="col-md-12 inprdservicehead">
                            <h4>Conversion Services</h4>
                        </div>
                        <div class="col-md-5"><p><img src="~/img/slider/conversion.png" class="img-responsive img-thumbnail" /></p></div>
                        <div class="col-md-7">
                            <p>We focus on content transformation services. The versatile business portfolio of Prachi group is developed with core focus on providing best quality publishing solutions in the versatile content conversion arena, legal processes and world class web and IT services.</p>
                            <p>Our business verticals have aligned themselves in perfect coordination to create end to end solutions for our customers.</p>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p><b>Our range of solutions includes on-site/off-site services:-</b></p>
                        </div>
                        <div class="col-md-6">

                            <ul>
                                <li>e-Governance Solutions</li>
                                <li>Digital Library Solutions</li>
                                <li>Data Conversion (XML, HTML, PDF/A, DOC, IMG)</li>
                                <li>Newspaper Digitisation (Mets/Alto Output)</li>
                                <li>Publishing Services Solution</li>
                                <li>Imaging and Indexing for archival System</li>
                                <li>eBook Publishing</li>
                                <li>Forms Processing</li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>

                                <li>e-Pub Creations</li>
                                <li>Content Management</li>
                                <li>High Resolution Scanning</li>
                                <li>Data Capturing</li>
                                <li>OCR &amp; OCR Clean Up</li>
                                <li>NIMAS Conversion</li>
                                <li>Video editing</li>
                                <li>Microfilming</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:1%;">
                    <div class="panel-body inprdservice">
                        <div class="col-md-12 inprdservicehead">
                            <h4>eBook Services</h4>
                        </div>

                        <div class="col-md-7">
                            <p>We brings more than 20 years of Publishing  expertise and experience to create, enhance, distribute, protect and manage your valuable content data and information assets. We provide end-to-end content related technological solutions, services and products for Education, Publishing and Content Repositories.</p>
                            <ul>
                                <li>eBook development</li>
                                <li>eBook Production</li>
                                <li>Conversion in All Formats</li>
                                <li>Book as an Application</li>
                            </ul>
                        </div>
                        <div class="col-md-5"><p><img src="~/img/slider/ebook-service.png" class="img-responsive img-thumbnail" /></p></div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:1%;">
                    <div class="panel-body inprdservice">
                        <div class="col-md-12 inprdservicehead">
                            <h4>Multimedia Services</h4>
                        </div>
                        <div class="col-md-5"><p><img src="~/img/slider/multimedia-service.png" class="img-responsive img-thumbnail" /></p></div>
                        <div class="col-md-7">
                            <p>We develop animated content for eBooks which can be in form of modules or an application. We deal in computer based training modules with instruction and user guides, animated projects with content linked videos and storyboard designing. Combining video with voice and text applications to create multimedia services is an important development in the worldwide communications marketplace. Flash based animations for subject based practical approach</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:1%;">
                    <div class="panel-body inprdservice">
                        <div class="col-md-12 inprdservicehead">
                            <h4>Digital Rights Management</h4>
                        </div>

                        <div class="col-md-7">
                            <p>Digital rights management (DRM) is a class of copy protection technologies that are used by hardware and software manufacturers, publishers, copyright holders, and individuals with the intent to control the use of digital content and devices after sale; there are, however, many competing definitions.</p>
                            <p>What we provide for the same is a scheme that controls access to copyrighted material using technological means. It may refer to the usage of proprietary software, hardware, or any type of content: music tracks, video files, ebooks, games, DVD movies, emails, documents, etc.</p>
                            @*<p>Client- Publications Division, Ministry of Information and Broadcasting</p>*@

                        </div>
                        <div class="col-md-5"><p><img src="~/img/slider/drm-services.png" class="img-responsive img-thumbnail" /></p></div>

                    </div>
                </div>

            </div>
            <div class="col-md-4" style="padding:0;">

                <div class="col-md-12">
                    <div class="col-md-12 clientlepara my-sticky-element">

                        <h4>Clientele</h4>
                        <div class="col-md-12" style="box-shadow: 0px 0px 2px rgba(107, 98, 98, 0.5); float:left; padding:5px 0px;">
                            <div class="carousel slide vertical">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <p><img src="~/img/client/ceptam.png" class="img-responsive text-center" /></p>
                                        <p>DRDO, Centre for Personnel Talent Management (CEPTAM)</p>
                                    </div>
                                    <div class="item">
                                        <p><img src="~/img/client/desidoc.png" class="img-responsive text-center" /></p>
                                        <p>DRDO, Defence Scientific Information & Documentation Centre (DESIDOC)</p>
                                    </div>
                                    <div class="item">
                                        <p><img src="~/img/client/inmas.png" class="img-responsive text-center" /></p>
                                        <p>DRDO, Institute of Nuclear Medicine and Applied Sciences (INMAS-CBRN)</p>
                                    </div>
                                    <div class="item">
                                        <p><img src="~/img/client/ministry.png" class="img-responsive text-center" /></p>
                                        <p>DRDO, Proof & Experimental Establishment (PXE)</p>
                                    </div>
                                    <div class="item">
                                        <p><img src="~/img/client/cpwd.png" class="img-responsive text-center" /></p>
                                        <p>Central Public Works Department (CPWD)</p>
                                    </div>
                                    <div class="item">
                                        <p><img src="~/img/client/cabinet_secretariat.png" class="img-responsive text-center" /></p>
                                        <p>Cabinet Secretariat (Rashtrapati Bhawan)</p>
                                    </div>
                                    <div class="item">
                                        <p><img src="~/img/client/publication_div.png" class="img-responsive text-center" /></p>
                                        <p>Publication Division, Ministry of Information and Broadcasting, Govt. of India (New Delhi)</p>
                                    </div>
                                    <div class="item">
                                        <p><img src="~/img/client/news_employment.png" class="img-responsive text-center" /></p>
                                        <p>EMPLOYMENT NEWS, Ministry of Information and Broadcasting, Govt. of India (New Delhi)</p>
                                    </div>

                                    <div class="item">
                                        <p><img src="~/img/client/indian_institute.png" class="img-responsive text-center" /></p>
                                        <p>Indian Institute of Advance Studies (IIAS), Shimla</p>
                                    </div>

                                </div>
                                <!-- Carousel nav -->

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12" style="margin-top:3%; margin-bottom:1%; box-shadow: 0px 0px 2px rgba(107, 98, 98, 0.5);">
                            <div class="panel-body">
                                <h4>FOR ANY BUSINESS RELATED QUERY</h4>
                                <p><i class="fa fa-envelope"></i> <a href="mailto:info@prachiindia.com">info@prachiindia.com</a></p>
                                <p><i class="fa fa-phone"></i> 011-43852438, 47320680</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script src="~/Content/js/sticky-sidebar.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 3000
            });

        });
</script>
<script type="text/javascript">
        var a = new StickySidebar('.my-sticky-element', {
            topSpacing: 100,
            bottomSpacing: 80,
            containerSelector: '.container',
            innerWrapperSelector: '.sidebar__inner'
        });

</script>
<style>
    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        background: inherit;
    }
    /*=================up carasoul css==============*/
    .vertical .carousel-inner {
        height: 100%;
    }

    .item p {
        text-align: center;
    }

    .carousel.vertical .item {
        -webkit-transition: 0.6s ease-in-out top;
        -moz-transition: 0.6s ease-in-out top;
        -ms-transition: 0.6s ease-in-out top;
        -o-transition: 0.6s ease-in-out top;
        transition: 0.6s ease-in-out top;
    }

    .carousel.vertical .active {
        top: 0;
    }

    .carousel.vertical .next {
        top: 400px;
    }

    .carousel.vertical .prev {
        top: -400px;
    }

        .carousel.vertical .next.left,
        .carousel.vertical .prev.right {
            top: 0;
        }

    .carousel.vertical .active.left {
        top: -400px;
    }

    .carousel.vertical .active.right {
        top: 400px;
    }

    .carousel.vertical .item {
        left: 0;
    }
</style>

}