@{
    ViewBag.Title = "Prachi Group - Educational Books Publishers India";
}

@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}

<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>Teacher Assistance</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Teacher Assistance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" style="padding-bottom:10px">
    <div class="container">

        <div class="clearfix"></div>
        <div class="panel-body">
            <div id="leftmenu" class="col-md-4" style="padding:0px; border-right: 0;">

                <ul class="nav nav-tabs tabs-left h4" style="height: 100%; border-right: 1px solid silver;">
                    <li class="active"><a data-toggle="tab" href="#teacherintro"><span class="fa fa-book"></span> Teacher Assistance</a></li>
                    <li><a data-toggle="tab" href="#Partners-in-Progress"><span class="fa fa-book"></span> Partners in Progress</a></li>
                    <li><a data-toggle="tab" href="#Workshops-Seminars"><span class="fa fa-book"></span> Seminars / Workshops</a></li>
                    <li><a data-toggle="tab" href="#Teacher-Training-Sessions"><span class="fa fa-book"></span> Teacher Training  Sessions on eBooks</a></li>
                    <li><a href="@Url.Action("Ebookorder","PO",new { Area="PO"})" target="_blank"><span class="fa fa-book"></span> e-book Order Form</a></li>
                </ul>


            </div>
            <div class="col-md-8" style="padding: 0;">
                <div class="panel-body" style="border:solid 1px #dfdfdf;">
                    <div class="tab-content">
                        <div id="teacherintro" class="tab-pane fade active in">
                            <div class="panel-body inprdservice" style="margin-bottom: 2%;">
                                <div class="col-md-12 inprdservicehead">
                                    <h4>Teacher Assistance</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6"> <img src="~/img/teacher-assistance/teacher-assistance.png" alt="Teacher Assistance" class="img-responsive img-thumbnail" /></div>
                                    <div class="col-md-6">
                                        @*<p>Prachi publication serves teachers and students by providing a wholly blended- learning environment by combining class room and digital learning.  By utilizing the available channels from print textbooks to interactive learning makes the course more exciting, sleek and personalised.</p>*@
                                        <p>Who dares to teach must never cease to learn ~ John Cotton Dan; we extend this famous saying by assisting teachers with tools for making interactive classroom, so that teachers and students as an individual and together can progress beyond themselves.</p>
                                        <p>We strive to provide a rich collection of lessons, units, and web resources designed to save teachers time by delivering just what they need in a practical, user-friendly, and device compatible format. Busy teachers, parents, and students can find resources using eBooks and training sessions.</p>
                                        <p>Education is the key to success in life, and teachers make a lasting impact in the lives of their students, in our attempt to empower our teachers we have come up with the following :-</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="margin:10px 0px;"><hr /></div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li>eBooks for visual text read.</li>
                                            <li>Well prepared Lesson Plans by our authors for a detailed lesson plan making.</li>
                                            <li>Teacher’s Resource material which includes detailed solutions for all sort of exercise questions and Worksheets</li>
                                            <li>Animation for all the topics which require a detailed explanation.</li>
                                            <li>Web Support with Question Banks and Answer Sheets</li>
                                        </ul>
                                        <p>All this is available in our ebook app Readedge and Test hour on an offline and online mode.</p>
                                        <div class="col-md-12 cordinator-address">
                                            <p><b>FOR ANY QUERY PLEASE CONTACT :</b></p>
                                            <p><span style="font-size:18px">Deepa Rawat</span><br />(Training Coordinator)</p>
                                            <p><b>Prachi [India] Pvt. Ltd.</b></p>
                                            <p><i class="fa fa-phone"></i> 011-47320666</p>
                                            <p><i class="fa fa-envelope-o"></i> <a href="mailto:info@prachiindia.com">info@prachiindia.com</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>





                        </div>

                        <div id="Partners-in-Progress" class="tab-pane fade">

                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead">
                                    <h4>Partners in Progress</h4>
                                </div>
                                <div class="col-md-12"><h5>Teacher Engagement programme</h5></div>
                                <div class="col-md-6">
                                    <p><img src="~/img/teacher-assistance/TA-1.JPG" alt="" class="img-responsive img-thumbnail"></p>
                                </div>
                                <div class="col-md-6">

                                    <p>
                                        Prachi, over the years has earned a reputation of a reliable partner of the teacher to enrich their teaching.  Working closely with them has enabled us to understand their concerns in the professional lives and eventually guides us to devise the solutions addressing their issues, it can be put this way "they are the inspirational force guiding our endeavors"<br><br>
                                        Our solutions have been eagerly awaited and warmly welcomed like those of lesson plans, worksheets, question banks, teacher manuals and teacher trainings to boost their professional skills.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="Workshops-Seminars" class="tab-pane fade">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead" style="padding:0px">
                                    <h4 style="padding:15px 10px">Seminars / Workshops<button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#workshopadd"><i class="fa fa-plus"></i> Add</button></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12 workshopdiv">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#upcomingworkshop">Upcoming workshops</a></li>
                                            <li><a data-toggle="tab" href="#Pastworkshop">Past workshops</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="upcomingworkshop" class="tab-pane fade active in">
                                                <div class="panel-body">
                                                    No upcoming workshops. Please stay tuned to our <a href="https://www.facebook.com/PrachiIndiaPvtLtd/" target="_blank">Facebook page</a> for future wokshop updates.
                                                </div>
                                            </div>
                                            <div id="Pastworkshop" class="tab-pane fade">
                                                <div class="panel-body">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" style="background-color:#f65121;color: #ffffff;">
                                                            <div class="panel-title text-center">Class and Stress Management Seminar at Ghaziabad</div>
                                                        </div>
                                                        <div class="panel-body" style="padding-top:0">
                                                            <div class="col-md-12 text-right">
                                                                <p style="font-size:12px;margin: 4px 0;"><i class="fa fa-calendar" aria-hidden="true"></i> July 31, 2016 : 04:39 PM to 02:15 AM</p>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                                <p style="width:100%; float:left;"><span class="organiser"><b>Delivered By</b></span></p>
                                                                <p><i class="fa fa-user" aria-hidden="true"></i> Neeraj Kumar Singh</p>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                                <p style="width:100%; float:left;"><span class="organiser"><b>Location</b></span></p>
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <p style="padding-left:2%;">309/10, ALLIED HOUSE, INDER LOK, DELHI - 110035</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"><hr></div>
                                                            <div class="clearfix"></div>
                                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                                <p><img src="/img/teacher-assistance/TA-1.1.png" class="img-responsive fit-images"></p>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                                <div class="panel-body" style="background-color:#e8f6ff;">
                                                                    <p style="width:100%; float:left;"><span class="organiser"><b>Description</b></span></p>
                                                                    <p class="pull-left">The seminar was held at Mother India School in Ghaziabad. It was aimed at empowering the teachers to overcome the crucial challenges in terms of class management.</p>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"><hr></div>
                                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                                <div style="background-color:#f0f9e8;float: left;width: 100%;" class="panel-body">
                                                                    <p style="width:100%; float:left;"><span class="organiser"><b>Organisers</b></span></p>
                                                                    <p class="pull-left">Satish Chandra<br>Prachi India Pvt Ltd<br>Bal Bharti School New Delhi<br>+91 - 42285451</p>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="text-right panel-body">
                                                                
                                                                <p><a class="btn btn-primary" href="@Url.Action("WorkShop","Home")" target="_blank">Read More...</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   </div>
                            </div>
                        </div>
                        <div id="Teacher-Training-Sessions" class="tab-pane fade">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead">
                                    <h4>Teacher Training  Sessions</h4>

                                </div>
                                <div class="col-md-12">
                                    <p>we provide training sessions for teachers which enable them to create better teaching environment and apply student friendly methodology.</p>

                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <p><img src="~/img/teacher-assistance/training-1.jpg" alt="training-1" class="img-responsive img-thumbnail"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><img src="~/img/teacher-assistance/training-2.jpg" alt="training-2" class="img-responsive img-thumbnail"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><img src="~/img/teacher-assistance/training-3.jpg" alt="training-3" class="img-responsive img-thumbnail"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><img src="~/img/teacher-assistance/training-4.jpg" alt="training-4" class="img-responsive img-thumbnail"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><img src="~/img/teacher-assistance/training-5.jpg" alt="training-5" class="img-responsive img-thumbnail"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><img src="~/img/teacher-assistance/TA-1.3.png" alt="TA 1.3" class="img-responsive img-thumbnail"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12 text-center">

                                    <p>For subject specific and e-book workshops by our Respective Training experts, kindly fill up the following form and we will shortly get in touch with you.</p>
                                    <p id="myBtn5" style="cursor:pointer; color:#ffffff;background-color: #ba6800;display: inline-block;padding: 10px 20px;border-radius: 6px;border-bottom: solid 3px #ff0000;">TEACHER TRAINING REQUEST FORM</p>
                                </div>

                            </div>
                        </div>
                        <div id="specimen" class="tab-pane fade">
                            <div class="panel-body inprdservice">
                                <div class="col-md-12 inprdservicehead">
                                    <p><b>Specimen</b></p>
                                </div>
                                <div class="col-md-12 text-center">

                                    <p>To request specimen copies of Prachi Books, kindly fill up the following form, and we will process your request shortly.</p>
                                    <p id="myBtn4" style="cursor:pointer; color:#ffffff;background-color: #ba6800;display: inline-block;padding: 10px 20px;border-radius: 6px;border-bottom: solid 3px #ff0000;">e-Book REQUEST FORM</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="booksmodal5" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            @*<button type="button" class="close" data-dismiss="modal" style="margin-right:1%">&times;</button>*@
            @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "Form_TeacherTraining" }))
            {
            @*<div class="modal-header">

                <h3 class="modal-title">TEACHER TRAINING</h3>
                </div>*@
            <div class="panel-body">
                <p id="mailStatus"></p>
                <div class="row formsubmit">
                    <div class="col-md-12 wrapcontrol">
                        <div class="heading" style="border-bottom:solid 1px #cccccc; margin-bottom:3%">
                            <h4><b>School Details</b></h4>
                        </div>
                    </div>
                    <div class="col-md-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_SchoolName"></div>
                            <label for="firstname" class="valuelabel">Name<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="SchoolName" id="SchoolName" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_School_Landline"></div>
                            <label for="lastname" class="valuelabel">Landline<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input name="School_Landline" id="School_Landline" class="input-medium bfh-phone form-control" data-format="+91- ddd - ddd-dddd" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Principal_Name"></div>
                            <label for="lastname" class="valuelabel">Principal<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="Principal_Name" id="Principal_Name" required="required" type="text">
                        </div>
                    </div>

                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_School_Email"></div>
                            <label for="email" class="valuelabel">Email</label>
                            <input class="form-control" name="School_Email" id="School_Email" required="required" type="email">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_School_Address"></div>
                            <label for="lastname" class="valuelabel">Address<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" id="School_Address" name="School_Address" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Board"></div>
                            <label for="lastname" class="valuelabel">Board<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <select class="form-control" name="Board" id="Board">
                                <option value="0"></option>
                                <option value="CBSE">CBSE</option>
                                <option value="ICSE">ICSE</option>
                                <option value="Others">Others</option>
                                <option value="Haryana Board">Haryana Board</option>
                                <option value="Bangla Board">Bangla Board</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="ui-widget form-group">
                            <div class="required-div" id="validation_CITYDESC"></div>
                            <label for="lastname" class="valuelabel">City<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input id="CITYDESC" name="CityDesc" class="form-control" required="required" type="text">
                            <input id="CityId2" name="CityId" class="form-control" required="required" type="hidden">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="heading" style="border-bottom:solid 1px #cccccc; margin-bottom:3%">
                            <h4>Contact Details</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_RequestedBy"></div>
                            <label for="lastname" class="valuelabel">Requested By<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="RequestedBy" id="RequestedBy" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Designation"></div>
                            <label for="lastname" class="valuelabel">Designation<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="Designation" id="Designation" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_MobileNo"></div>
                            <label for="lastname" class="valuelabel">Mobile<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="MobileNo" id="MobileNo" required="required" type="text">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Landline"></div>
                            <label for="lastname" class="valuelabel">Landline<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="Landline" id="Landline" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Email"></div>
                            <label for="lastname" class="valuelabel">E-mail<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="Email" id="Email" required="required" type="email">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_RequiredFor"></div>
                            <label for="lastname" class="valuelabel">Required For<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <select class="form-control" name="RequiredFor" id="RequiredFor">
                                <option></option>
                                <option>Workshop</option>
                                <option>Teacher Training</option>
                                <option>eBooks</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Description" style="top:-32px;"></div>
                            <label for="lastname" class="valuelabel">Description<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <textarea class="form-control" rows="2" name="Description" id="Description" style="border:solid 1px #cccccc; border-radius:0; box-shadow:none;"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <input value="SUBMIT" id="btnGetInTouchWith2" name="btnGetInTouchWith" class="btn btn-primary" type="button">
                        <input value="RESET" name="submit" class="btn btn-primary" type="reset">


                    </div>

                </div>
                <!-- /.row -->

            </div>
            @*<div id="validation"></div>*@
            }
        </div>

    </div>
</div>

<div class="modal fade" id="booksmodal4" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" style="margin-right:1%">&times;</button>

            @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "Form_Specimen" }))
            {
            @*<div class="modal-header">


                <h3 class="modal-title">SPECIMEN REQUEST FORM</h3>
                </div>*@
            <div class="panel-body">
                <p id="mailStatus1"></p>
                <div class="row formsubmit">
                    <div class="col-md-12 wrapcontrol">
                        <div class="heading" style="border-bottom:solid 1px #cccccc; margin-bottom:3%">
                            <h4><b>School Details</b></h4>
                        </div>
                    </div>
                    <div class="col-md-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_SchoolName_Specimen"></div>
                            <label for="firstname" class="valuelabel">School Name<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" name="SchoolName" id="SchoolName_Specimen" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_School_Address_Specimen" style="top: -32px;"></div>
                            <label for="lastname" class="valuelabel">Address<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <textarea class="form-control" id="School_Address_Specimen" rows="1" name="School_Address" style="border:solid 1px #cccccc; border-radius:0; box-shadow:none;"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Board_Specimen"></div>
                            <label for="lastname" class="valuelabel">Board<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <select class="form-control" name="Board" id="Board_Specimen">
                                <option value=""></option>
                                <option value="CBSE">CBSE</option>
                                <option value="ICSE">ICSE</option>
                                <option value="Others">Others</option>
                                <option value="Haryana Board">Haryana Board</option>
                                <option value="Bangla Board">Bangla Board</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Strength_Specimen"></div>
                            <label for="Strength" class="valuelabel">Strength<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" id="Strength_Specimen" name="Strength" required="required" type="text">
                        </div>
                    </div>

                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_Principal_Name_Specimen"></div>
                            <label for="lastname" class="valuelabel">Principal<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" id="Principal_Name_Specimen" name="Principal_Name" required="required" type="text">
                        </div>
                    </div>



                    <div class="col-sm-4 valuecnt">
                        <div class="ui-widget form-group">
                            <div class="required-div" id="validation_CITYDESC_Specimen"></div>
                            <label for="lastname" class="valuelabel">City<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input id="CITYDESC_Specimen" name="CityDesc" class="form-control" required="required" type="text">
                            <input id="CityId" name="CityId" class="form-control" required="required" type="hidden">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_ITIncharge_Specimen"></div>
                            <label for="email" class="valuelabel">IT Incharge<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" id="ITIncharge_Specimen" name="ITIncharge" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            @*<div class="required-div" id="validation_School_Email_Specimen"></div>*@
                            <label for="email" class="valuelabel">Phone</label>
                            <input class="form-control" id="School_Landline_Specimen" name="School_Landline" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_School_Mobile_Specimen"></div>
                            <label for="email" class="valuelabel">Mobile<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" id="School_Mobile_Specimen" name="School_Mobile" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_School_Email_Specimen"></div>
                            <label for="email" class="valuelabel">Email<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                            <input class="form-control" id="School_Email_Specimen" name="School_Email" required="required" type="email">
                        </div>
                    </div>
                    <div class="col-sm-4 valuecnt">
                        <div class="form-group">
                            <div class="required-div" id="validation_NoOfSystem_Specimen"></div>
                            <label for="email" class="valuelabel">No of Systems<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <input class="form-control" id="NoOfSystem_Specimen" onblu name="NoOfSystem" required="required" type="email">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="background-color:#f5f5f5;padding-top:5px;border-top: 1px solid #fccece;">
                        <div class="col-md-12">
                            <div class="heading" style="border-bottom:solid 1px #cccccc;">
                                <h4><b>Representative Details</b></h4>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="heading" style="margin-bottom:3%">
                                    <h4><b>Sales</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @*<div class="col-sm-4 valuecnt">
                                <div class="form-group">
                                <div id="validation_RequestedBy_Specimen"></div>
                                <label for="lastname" class="valuelabel">Requested By<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                <input class="form-control" id="RequestedBy_Specimen" name="RequestedBy" required="required" type="text">
                                </div>
                                </div>*@
                            @*<div class="col-sm-4 valuecnt">
                                <div class="form-group">
                                <div id="validation_Required_Subjects"></div>
                                <label for="lastname" class="valuelabel"><small></small></label>
                                <select name="Type" class="form-control">
                                <option value="Sales">Sales</option>
                                <option value="Marketing">Marketing</option>
                                </select>

                                </div>
                                </div>*@


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="required-div" id="validation_SName_Specimen"></div>
                                    <label for="lastname" class="valuelabel activectr">Name<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                    <select name="SName" class="form-control" id="SName_Specimen">
                                        <option value=""></option>
                                    </select>

                                </div>
                            </div>
                            @*<div class="col-sm-4 valuecnt">
                                <div class="form-group">
                                <div id="validation_Name_Specimen"></div>
                                <label for="lastname" class="valuelabel">Name<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                <input class="form-control" id="Name_Specimen" name="Name" required="required" type="text">
                                </div>
                                </div>*@
                            @*<div class="col-sm-4 valuecnt">
                                <div class="form-group">
                                <div id="validation_Designation_Specimen"></div>
                                <label for="lastname" class="valuelabel">Designation<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                <input class="form-control" id="Designation_Specimen" name="Designation" required="required" type="text">
                                </div>
                                </div>*@
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="required-div" id="validation_MobileNo_Specimen"></div>
                                    <label for="lastname" class="valuelabel activectr">Mobile<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                    <input class="form-control" id="SMobileNo_Specimen" name="SMobileNo" required="required" type="text">
                                </div>
                            </div>
                            @*<div class="col-sm-4 valuecnt">
                                <div class="form-group">
                                <div id="validation_Landline_Specimen"></div>
                                <label for="lastname" class="valuelabel">Landline<small></small></label>
                                <input class="form-control" id="Landline_Specimen" name="Landline" required="required" type="text">
                                </div>
                                </div>*@
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="required-div" id="validation_Area_Specimen"></div>
                                    <label for="lastname" class="valuelabel activectr">Area<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                    <input class="form-control" name="SArea" id="SArea_Specimen" required="required" type="text">
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-top:15px;">
                                <div class="form-group">
                                    <div class="required-div" id="validation_Email_Specimen"></div>
                                    <label for="lastname" class="valuelabel activectr">E-mail<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                    <input class="form-control" name="SEmail" id="SEmail_Specimen" required="required" type="email">
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="heading" style="margin-bottom:3%">
                                    <h4><b>Marketing</b></h4>
                                </div>
                            </div>
                            <!--Market person details-->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="required-div" id="validation_Required_Subjects"></div>
                                    <label for="lastname" class="valuelabel activectr">Name</label>
                                    <select name="MName" class="form-control" id="MName_Specimen">
                                        <option value=""></option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    @*<div class="required-div" id="validation_MobileNo_Specimen"></div>*@
                                    <label for="lastname" class="valuelabel activectr">Mobile</label>
                                    <input class="form-control" id="MMobileNo_Specimen" name="MMobileNo" required="required" type="text">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="required-div" id="validation_Email_Specimen"></div>
                                    <label for="lastname" class="valuelabel activectr">Area</label>
                                    <input class="form-control" name="MArea" id="MArea_Specimen" required="required" type="text">
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-top:15px;">
                                <div class="form-group">
                                    <div class="required-div" id="validation_Email_Specimen"></div>
                                    <label for="lastname" class="valuelabel activectr">E-mail</label>
                                    <input class="form-control" name="MEmail" id="MEmail_Specimen" required="required" type="email">
                                </div>
                            </div>
                            <!--Ends-->


                            <div class="col-sm-4" style="visibility:hidden;">
                                <div class="form-group">
                                    <div class="required-div" id="validation_Required_Subjects"></div>
                                    <label for="lastname" class="valuelabel">Required For<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                    <select id="Required_Subjects" class="multiselect-ui form-control" multiple="multiple" name="Required_Subjects"></select>

                                </div>
                            </div>

                            <div class="clearfix"></div>


                            @*<div class="col-sm-12 valuecnt"  style="padding:10px 0; border:solid 1px #fccece; float:left;">
                                <div class="col-md-12">
                                <div class="heading" style="border-bottom:solid 1px #cccccc; margin-bottom:3%">
                                <h4><b>System Details</b></h4>
                                </div>
                                </div>
                                <div class="col-sm-4 valuecnt">
                                <div class="form-group">
                                <div id="validation_Email_Specimen"></div>
                                <label for="lastname" class="valuelabel"><input checked="checked" id="isNewlyEnrolled" name="isNewlyEnrolled" type="checkbox" value="true" style="position:static" />&nbsp;Windows</label>

                                </div>
                                </div>
                                <div class="col-sm-4 valuecnt">
                                <div class="form-group">
                                <div id="validation_Email_Specimen"></div>
                                <label for="lastname" class="valuelabel">No of Application<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>
                                <input class="form-control" name="Email" id="Email_Specimen" required="required" type="email">
                                </div>
                                </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 valuecnt" id="valueappen" style="padding:10px 0; border:solid 1px #fccece; float:left;">
                        <div class="col-md-12">
                            <div class="heading" style="border-bottom:solid 1px #cccccc; margin-bottom:3%">
                                <h4><b>Subject Details</b></h4>
                            </div>
                        </div>
                        <div class="col-sm-4 valuecnt">

                            <input type="hidden" id="count" value="1" />
                            <label for="lastname" class="valuelabel activectr">Subject</label>
                            <select class="form-control" name="SubjectDetail[0].Subject" id="0" onchange="GetSeries(this, 0); ">
                                <option value="0"></option>
                                <option value="1">English</option>
                                <option value="2">Mathematics</option>
                                <option value="3">Science</option>
                                <option value="4">Social Science</option>
                                <option value="5">Hindi</option>
                                <option value="6">Sanskrit</option>
                                <option value="7">Art and Craft</option>
                                <option value="8">Health and Physical Education</option>
                                <option value="9">Term Book</option>
                                <option value="10">Environmental Studies</option>
                                <option value="11">General Knowledge</option>
                                <option value="12">Moral Education</option>
                                <option value="13">Computer</option>
                                <option value="14">French</option>
                                <option value="15">Atlas</option>
                                <option value="16">Value Education</option>
                                <option value="17">Enviromental Studies</option>
                                <option value="18">Magic Number</option>
                                <option value="19">Assignment for Holidays</option>
                                <option value="20">Holiday Homework </option>
                                <option value="21">Mathematics(Hindi)</option>
                                <option value="22">Smajik Vigyan </option>
                                <option value="23">Vigyan </option>
                                <option value="24">Physics </option>
                                <option value="25">Chemistry </option>
                                <option value="26">Rhythmic Rhymes</option>
                                <option value="27">Sahitya Prabha </option>
                            </select>

                        </div>
                        <div class="col-sm-4 valuecnt">

                            <label for="lastname" class="valuelabel activectr">Series</label>
                            <select class="form-control" name="SubjectDetail[0].Series" id="SubjectDetail_0" onchange="GetClass(this, 0);"></select>

                        </div>
                        <div class="col-sm-3 valuecnt">
                            <label for="lastname" class="valuelabel">Class<small><i class="fa fa-asterisk" aria-hidden="true"></i></small></label>

                            <select class="form-control multiselect-ui" multiple="multiple" id="valueappend_0" name="SubjectDetail[0].Classes">
                                @*<option value="Nursery">Nursery</option>
                                    <option value="LKG">LKG</option>
                                    <option value="Pre">Pre</option>
                                    <option value="Pre Primer">Pre Primer</option>
                                    <option value="UKG">UKG</option>
                                    <option value="Praveshika">Praveshika</option>
                                    <option value="Primer">Primer</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="Part 5">Part 1</option>
                                    <option value="Part 2">Part 2</option>
                                    <option value="Part 3">Part 3</option>
                                    <option value="Part 4">Part 4</option>
                                    <option value="Part 5">Part 5</option>
                                    <option value="Other">Other</option>*@
                            </select>
                        </div>
                        <div class="col-sm-1 valuecnt">
                            <span class="btn btn-success" id="load_list" style="cursor:pointer;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>


                    <div class="clearfix"></div>
                    <div class="col-sm-12 text-center">
                        <input value="SUBMIT" id="btnGetInTouchWith1" name="btnGetInTouchWith" class="btn btn-primary" type="button">
                        <input value="RESET" name="submit" id="submit_specimen" class="btn btn-primary" type="reset">
                        <!--<button type="submit" name="submit" class="btn btn-adroit-main" onclick="ValidCaptcha();"><i class="fa fa-envelope-o"></i>Send message</button>-->

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <div id="validation1"></div>

            }

        </div>

    </div>

</div>
<div class="modal fade" id="workshopadd" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel-body" style="padding-top:0">
                <div class="col-md-12 wrapcontrol">
                    <div class="heading" style="border-bottom:solid 1px #cccccc; margin-bottom:3%">
                        <h4><b>Seminars / Workshops</b></h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row formsubmit">
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="Landline">Delivered By</label>
                                <input class="form-control" name="Delivered" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="datetimes">Date &amp; Time</label>
                                <input class="form-control" id="datetimes" type="text">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="Description">Location</label>
                                <textarea class="form-control" rows="2" name="Location" style="border:solid 1px #cccccc; border-radius:0; box-shadow:none;"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea class="form-control" rows="2" name="Description" style="border:solid 1px #cccccc; border-radius:0; box-shadow:none;"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="Landline">Image Upload</label>
                                <input class="form-control" name="Delivered" type="file">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="panel-heading text-center" style="background-color:#f65121;color: #ffffff;font-size:20px;padding:5px;">Organisers</div>
                        </div>
                        <div class="clearfix"><hr></div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="UserName">User Name</label>
                                <input class="form-control" name="User Name" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="UserName">Company Name</label>
                                <input class="form-control" name="User Name" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="UserName">School Name</label>
                                <input class="form-control" name="User Name" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6 valuecnt">
                            <div class="form-group">
                                <label for="ContactNumber">Contact Number</label>
                                <input class="form-control" name="Contact Number" type="text">
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="col-sm-12 text-center">
                            <input value="SUBMIT" name="btnGetInTouchWith" class="btn btn-primary" type="button">
                            <input value="RESET" name="submit" class="btn btn-primary" type="reset">


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/js/imgslider/moment.min.js"></script>
    <script src="~/Content/js/imgslider/daterangepicker.min.js"></script>
    <link href="~/Content/js/imgslider/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('#datetimes').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'MM/DD/YY hh:mm A'
                }
            });
        });
    </script>
    <style>
        .organiser {
            border-bottom: solid 1px rgba(4, 21, 207, 0.1);
            display: inline;
            float: left;
            padding: 3px 0;
            margin-bottom: 0;
            font-size: 13px;
            text-transform: uppercase;
        }

        .fit-images {
            width: 100%;
            height: 150px;
            object-fit: cover;
            margin-top: 2%;
        }

        .media {
            background-color: #ecfef9;
            padding-left: 10px;
        }

        .media-body, .media-left, .media-right {
            display: table-cell;
            vertical-align: top;
        }

        .workshopdiv li a {
            color: #000000 !important;
            font-size: 15px;
            padding: 15px 20px !important;
        }

        .toast-top-right {
            right: 42% !important;
        }

        .modal-lg {
            width: 65% !important;
        }

        .ui-widget-content {
            position: absolute !important;
            z-index: 9999 !important;
        }

        .multiselect-selected-text, .multiselect {
            text-align: left !important;
            float: left !important;
            padding-left: 4px !important;
            font-size: 12px;
        }



        .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
            background-color: #ffffff !important;
        }

        .required-div {
            position: absolute;
            right: 16px;
            font-size: 11px;
            top: -66%;
        }

        .valuecnt {
            margin-bottom: 1%;
        }
    </style>
    <link href="~/Content/js/form/multiselect.css" rel="stylesheet" />
    <script src="~/Content/js/form/multiselect.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/js/City.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

}
