<div class="content-header row">
<div class="content-header-left col-md-12 col-12 mb-4">
        <div class="breadcrumbs-top">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <div class="fonticon-wrap icon-shadow icon-shadow-primary">
                            <a href="#" onclick="history.go(-1)"><i class="ft-corner-up-left"></i></a>
                        </div>
                    </li>
                    <li class="breadcrumb-item active">
                        Subject Details
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in ViewBag.Subjects)
    {
        <div class="col-md-2 col-sm-12">
            <div class="card subDiv">
                <div class="card-header text-center">
                    <h4 class="card-title">@item.Title</h4>
                </div>
                <div class="card-content subjectDiv">
                    <div class="card-body">
                        <a asp-controller="home" asp-action="MyLibrary" asp-route-SubjectID="@item.Id" asp-route-ClassID="@ViewBag.ClassID"><img src="~/images/subjects/@item.Image" class="img-responsive" /></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
