@model List<PrachiIndia.Portal.Areas.CPanel.Models.NewArivalBook>
@{
    ViewBag.Title = "UpComming";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>New Arrival Books</h2>
        <a class="btn btn-warning pull-right">Add New</a>
    </div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Status</th>
                    <th></th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>
                            @if (item.Stats)
                            {
                                <input type="checkbox" checked />
                            }
                            else
                            {
                                <input type="checkbox" />
                            }
                        </td>
                        <td>
                            <img src="~/ModuleFiles/Items/@item.CoverImage" width="60" />
                        </td>
                        <td>@item.Title</td>
                        <td>
                            <a href="#">Specifications</a> | <a href="#">Delete</a>
                        </td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-center"><h4>No Records found.</h4></td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>
