
@{
    ViewBag.Title = "PaymentStatus";
}

<h2>PaymentStatus</h2>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">



    <link href="https://prachiindia.com/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://prachiindia.com/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://prachiindia.com/Content/css/style.css" rel="stylesheet" />


    <script src="/bundles/jquery?v=Qdqzv1pM18AQuZQy3zFAngU6zwCfHlEObfDxSi90npI1"></script>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/jqBootstrapValidation.js"></script>
    <script src="/Content/js/agency.js"></script>

    <script src="/Scripts/addthis_widget.js"></script>
    <link href="/Content/Css/bootstrap.vertical-tabs.css" rel="stylesheet" />
   
    

</head>
<body>

    <section style="padding-bottom:10px">
        <div id="" class="container">
            <div class="clearfix"></div>
            <div class="panel-body">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 text-center col-sm-8 col-md-offset-3">

                            <div class="clearfix"></div>
                            <div class="col-md-12 text-center col-sm-12">
                                <p>
                                    <img src="~/Images/successful.png" class="img-responsive succeessful" />
                                </p>
                                <h3 class="paymenthead">Payment Successful</h3>
                                <p> Please visist <a href="http://220.158.164.159:88/"><b>readedge.mielib.com</b></a> to enjoy your subscription</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <style>
        .printheader {
            border-bottom: solid 2px #aed7eb;
            width: 100%;
            float: left;
            height: auto;
            margin-bottom: 3%;
        }

        .printbtn {
            color: #ffffff;
            background-color: #2997cc;
            padding: 6px 29px;
            border-radius: 0;
            font-size: 20px;
        }

            .printbtn:hover {
                color: #ffffff;
            }

        .succeessful {
            display: initial !important;
            width: 300px;
            padding: 10% 0;
        }

        .paymenthead {
            font-size: 3em;
            color: #484f57;
        }

        .newsale {
            color: #ffffff;
            background-color: #2997cc;
            font-size: 2em;
            border-radius: 0;
            padding: 10px;
        }

            .newsale:hover {
                color: #ffffff;
            }
    </style>

</body>
</html>
