
@{
    ViewBag.Title = "UnregisteredLink";
}

<h2>Unregistered Link</h2>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Otp</title>
    <style>
        .paramargin {
            margin: 0;
            padding: 0px;
            font-size: 20px;
        }

        .smileeface {
            font-size: 35px;
            float: right;
        }
    </style>

</head>

<body>
    <!-- Navigation -->
    <!-- Services -->
    <table style="width:600px; margin:0 auto;">
        <tr>
            <td style="padding-top:10%;">
                <table style="width:100%; border: solid 1px #cccccc; padding:25px;">
                    <tr>
                        <td style="padding:25px;">
                            <h2>Unverified Link <img src="https://image.ibb.co/fMHJen/sad_icon.png" class="smileeface" alt="sad face" width="50" height="50"></h2>
                            <h3>Contact to our team</h3>
                            <p class="paramargin"><b>Name :</b> Satish Chandra</p>
                            <p class="paramargin"><b>Mob :</b> +91 - 8802685642</p>
                            <p class="paramargin"><b>Email :</b> satish.chandra@prachiindia.net</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>

