#sidebar-wrapper {
    background-color: #f8f8f8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #333;
    }

.sidebar-nav > li a {
    color: #000;
    font-weight: bold;
}

    .sidebar-nav > li a:hover {
        color: #333;
    }
